<div class="main-content idas-main-content">
  <div class="container-fluid">
    <div class="element">
      <div class="col-md-12">
        <div class="card">
          <app-page-header
            [entityName]="entityName"
            [dataService]="dataService"
            [pageIcon]="pageIcon"
            [pageName]="pageName"
            [pageTitle]="pageTitle"
            [pageSubTitle]="pageSubTitle"
            [canCreate]="canCreate"
            [canView]="canView"
            [canEdit]="canEdit"
            [canDelete]="canDelete"
            [canSave]="canSave"
            [canRefresh]="canRefresh"
            (create)="onButtonClickCreate()"
            (edit)="onButtonClickEdit($event, getElementIndex($event))"
            (delete)="onButtonClickDelete($event, getElementIndex($event))"
            (save)="onButtonClickSave()"
            (refresh)="onDataRefresh()"
          ></app-page-header>
          <div class="card-body">
            <form [formGroup]="formGroup">
              <mat-tab-group
                animationDuration="2000ms"
                formGroupName="formFields"
              >
                <mat-tab label="Personal Details">
                  <div class="card-body">
                    <div class="row gutters">
                      <app-common-switch-case-data-input
                        [action]="action"
                        [entityId]="currentUser?._id"
                        [entityName]="entityName"
                        [entity]="
                          currentUser?.Client ||
                          currentUser?.Employee ||
                          currentUser?.Supplier ||
                          {}
                        "
                        [columns]="fieldsPersonalDetails"
                        [columnsCssClass]="columnsCssClass"
                        [updates]="updates"
                      ></app-common-switch-case-data-input>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Contact Details">
                  <div class="card-body">
                    <div class="row gutters">
                      <app-common-switch-case-data-input
                        [action]="action"
                        [entityId]="currentUser?._id"
                        [entityName]="entityName"
                        [entity]="
                          currentUser?.Client?.ContactDetail ||
                          currentUser?.Employee?.ContactDetail ||
                          currentUser?.Supplier?.ContactDetail ||
                          {}
                        "
                        [columns]="fieldsContactDetails"
                        [columnsCssClass]="columnsCssClass"
                        [updates]="updates"
                      ></app-common-switch-case-data-input>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="User Account">
                  <div class="card-body">
                    <div class="row gutters">
                      <div
                        style="
                          border-radius: 8px;
                          margin: 25px 10px 0 0;
                          padding: 0 25px 0 0 0;
                        "
                      >
                        <img
                          src="{{ currentUser?.Avatar }}"
                          style="border-radius: 8px; height: auto; width: 120px"
                        />
                        <br />
                        <br />
                        <span
                          class="resize"
                          style="display: inline-block; vertical-align: middle"
                        >
                          <p
                            style="
                              font-weight: bold;
                              margin: 0 5px 10px 10px;
                              padding: 0 0 0 0;
                              text-align: left;
                              vertical-align: middle;
                            "
                          >
                            Change Avatar:
                          </p>
                          <button
                            mat-icon-button
                            class="btn btn-white btn-round btn-just-icon btn-idas"
                            style="border: 1px solid #d9d9d9"
                            type="button"
                            [matMenuTriggerFor]="imagesMenu"
                          >
                            <img
                              src="{{ currentUser?.Avatar || defaultAvatar }}"
                              style="
                                border-radius: 8px;
                                height: auto;
                                margin: 0 0 6px 0;
                                width: 0.9em;
                              "
                            />
                          </button>
                          <mat-menu
                            #imagesMenu="matMenu"
                            xPosition="after"
                            yPosition="below"
                            class=""
                          >
                            <button
                              *ngFor="let imageAvatar of imagesAvatars"
                              class=""
                              mat-menu-item
                              (click)="onClickChangeAvatar(imageAvatar)"
                            >
                              <img
                                src="{{ imageAvatar?.path || defaultAvatar }}"
                                style="
                                  border-radius: 8px;
                                  height: auto;
                                  width: 35px;
                                "
                              />
                            </button>
                          </mat-menu>
                        </span>
                      </div>
                      <app-common-switch-case-data-input
                        [action]="action"
                        [entityId]="currentUser?._id"
                        [entityName]="entityName"
                        [entity]="currentUser || {}"
                        [columns]="fieldsUserAccountDetails"
                        [columnsCssClass]="columnsCssClass"
                        [updates]="updates"
                      ></app-common-switch-case-data-input>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
