<div class="main-content idas-main-content">
  <div class="container-fluid">
    <div class="element">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger idas-main-card-header">
            <i class="material-icons">{{ pageIcon }}</i>
            <h4 class="card-title">{{ pageTitle }}</h4>
            <p class="category">{{ pageSubTitle }}</p>
            <span>
              <button
                mat-icon-button
                class="btn btn-white btn-round btn-just-icon btn-idas-float-right"
                type="button"
                (click)="onClickSave()"
                title="Save Change(s)"
              >
                <i class="material-icons">save</i>
              </button>
              <!-- <button
                mat-icon-button
                class="
                  btn btn-white btn-round btn-just-icon btn-idas-float-right
                "
                type="button"
                data-toggle="modal"
                data-target="#create-edit-modal-dialog"
                (click)="onClickCreate()"
                title="{{ getButtonTitleAdd() }}"
              >
                <i class="material-icons">add</i>
              </button> -->
            </span>
          </div>
          <div class="card-body">
            <form [formGroup]="frmGroup">
              <mat-tab-group
                animationDuration="2000ms"
                formGroupName="frmFields"
              >
                <mat-tab label="Personal Details">
                  <div class="card-body">
                    <div class="row gutters">
                      <app-common-switch-case-data-input
                        [action]="action"
                        [entityId]="currentUser?._id"
                        [entityName]="entityName"
                        [entity]="
                          currentUser?.Client ||
                          currentUser?.Employee ||
                          currentUser?.Supplier ||
                          {}
                        "
                        [columns]="fieldsPersonalDetails"
                        [columnsCssClass]="columnsCssClass"
                        [updates]="updates"
                      ></app-common-switch-case-data-input>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Contact Details">
                  <div class="card-body">
                    <div class="row gutters">
                      <app-common-switch-case-data-input
                        [action]="action"
                        [entityId]="currentUser?._id"
                        [entityName]="entityName"
                        [entity]="
                          currentUser?.Client?.ContactDetail ||
                          currentUser?.Employee?.ContactDetail ||
                          currentUser?.Supplier?.ContactDetail ||
                          {}
                        "
                        [columns]="fieldsContactDetails"
                        [columnsCssClass]="columnsCssClass"
                        [updates]="updates"
                      ></app-common-switch-case-data-input>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="User Account">
                  <div class="card-body">
                    <div class="row gutters">
                      <div
                        style="
                          border-radius: 8px;
                          margin: 25px 10px 0 0;
                          padding: 0 10px 0 0 0;
                        "
                      >
                        <img
                          src="{{ currentUser?.Avatar }}"
                          style="border-radius: 8px; height: auto; width: 120px"
                        />
                        <br />
                        <span class="resize">
                          <p
                            style="
                              font-weight: bold;
                              margin: 0 5px 0 10px;
                              padding: 0 0 0 0;
                              text-align: left;
                              vertical-align: middle;
                            "
                          >
                            Change Avatar:
                          </p>
                          <button
                            mat-icon-button
                            class="btn btn-white btn-round btn-just-icon btn-idas"
                            type="button"
                            [matMenuTriggerFor]="imagesMenu"
                          >
                            <img
                              src="{{ currentUser?.Avatar || defaultAvatar }}"
                              style="
                                border-radius: 8px;
                                height: auto;
                                width: 20px;
                              "
                            />
                          </button>
                          <mat-menu
                            #imagesMenu="matMenu"
                            xPosition="after"
                            yPosition="below"
                            class=""
                          >
                            <button
                              *ngFor="let imageAvatar of imagesAvatars"
                              class=""
                              mat-menu-item
                              (click)="onClickChangeAvatar(imageAvatar)"
                            >
                              <img
                                src="{{ imageAvatar?.path || defaultAvatar }}"
                                style="
                                  border-radius: 8px;
                                  height: auto;
                                  width: 35px;
                                "
                              />
                            </button>
                          </mat-menu>
                        </span>
                      </div>
                      <app-common-switch-case-data-input
                        [action]="action"
                        [entityId]="currentUser?._id"
                        [entityName]="entityName"
                        [entity]="currentUser || {}"
                        [columns]="fieldsUserAccountDetails"
                        [columnsCssClass]="columnsCssClass"
                        [updates]="updates"
                      ></app-common-switch-case-data-input>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
