.idas-footer {
  background-color: #353434;
  bottom: 0px;
  color: whitesmoke;

  .powered-by {
    font-size: 14px;

    a {
      color: #FF4500;
      &:hover{
        color: #ec5800;
        text-decoration: none;
      }
    }
  }
}
