<footer class="footer idas-footer">
  <div class="container-fluid">
      <nav class="pull-left">
          <ul>
              <li>
                  <a href="http://www.izingcweti.co.za/" target="_blank">
                    &copy;
                    {{test | date: 'yyyy'}}, IDAS. ALL Rights Reserved.
                  </a>
              </li>
          </ul>
      </nav>
      <div class="copyright pull-right powered-by">
        Powered by:
        <a href="http://www.skinnovations.co.za/" target="_blank">SK Innovations</a>
      </div>
  </div>
</footer>
