@import "../../../../../../../../assets/scss/idas/colors.scss";
@import "../../../../../../../../assets/scss/idas/fonts.scss";
@import "../../../../../../../../assets/scss/idas/_idas-dialogs.scss";

ul {
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
  li {
    border: 1px solid $idas-color-LightGray;
    border-radius: 8px;
    display: inline;
    font-size: 1em;
    margin: 0 0 0 0;
    padding: 8px 5px 10px 2px;
    i,
    img {
      border-radius: 8px;
      display: inline-block;
      height: auto;
      font-size: 20px;
      margin: 0 1px 0 3px;
      padding: 0 0 0 0;
      text-align: left;
      vertical-align: middle;
    }
    img {
      width: 20px;
    }
    a,
    a:link,
    a:visited,
    a:active {
      border: 2px solid $idas-color-DarkRed;
      border-radius: 25px;
      cursor: pointer;
      display: none;
      font-size: 1em;
      font-weight: bold;
      height: 25px;
      padding: 2px 0 0 0;
      text-align: center;
      text-decoration: none;
      width: 25px;
      vertical-align: middle;
    }
  }
  li:hover {
    a {
      display: inline-block;
    }
  }
}
