<div
  class="idas-dialog open"
  [ngClass]="{
    'dialog-resize-38vw': pageWidth === '38vw',
    'dialog-resize-68vw': pageWidth === '68vw'
  }"
>
  <app-dialog-header
    [pageIcon]="pageIcon"
    [pageName]="pageName"
    [pageTitle]="pageTitle"
    [pageSubTitle]="pageSubTitle"
    (closeDialog)="onButtonClickCloseDialog()"
  ></app-dialog-header>
  <div class="content">
    <div class="inbox-message" *ngFor="let message of messages">
      <ul>
        <li class="label">Date Sent</li>
        <li class="description">
          {{ getFormatedInboxMessageDateCreated(message?.DateCreated) }}
        </li>
        <li class="label">Sent By</li>
        <li class="description">
          <i
            [ngStyle]="{
              display:
                message?.createdBy?.UserType?.Icon === null ||
                message?.createdBy?.UserType?.Icon === undefined
                  ? 'none'
                  : 'inline'
            }"
            class="material-icons {{
              message?.createdBy?.UserType?.CssClassCategory
            }} {{ message?.createdBy?.UserType?.CssClass }}"
            [title]="message?.createdBy?.UserType?.Value || ''"
            >{{ message?.createdBy?.UserType?.Icon }}</i
          >
          <img
            [ngStyle]="{
              display:
                message?.createdBy?.Avatar === null ||
                message?.createdBy?.Avatar === undefined
                  ? 'none'
                  : 'inline'
            }"
            [title]="message?.createdBy?.DisplayName"
            src="{{ message?.createdBy?.Avatar }}"
          />
          {{ message?.createdBy?.DisplayName }}
        </li>
      </ul>
      <ul>
        <li class="label">Recipient(s)&nbsp;:&nbsp;</li>
        <li class="description" *ngFor="let recipient of message?.Recipients">
          <i
            [ngStyle]="{
              display:
                recipient?.Recipient?.UserType?.Icon === null ||
                recipient?.Recipient?.UserType?.Icon === undefined
                  ? 'none'
                  : 'inline'
            }"
            class="material-icons {{
              recipient?.Recipient?.UserType?.CssClassCategory
            }} {{ recipient?.Recipient?.UserType?.CssClass }}"
            [title]="recipient?.Recipient?.UserType?.Value || ''"
            >{{ recipient?.Recipient?.UserType?.Icon }}</i
          >
          <img
            [ngStyle]="{
              display:
                recipient?.Recipient?.Avatar === null ||
                recipient?.Recipient?.Avatar === undefined
                  ? 'none'
                  : 'inline'
            }"
            [title]="recipient?.Recipient?.DisplayName"
            src="{{ recipient?.Recipient?.Avatar }}"
          />
          {{ recipient?.Recipient?.DisplayName }}
        </li>
      </ul>
      <p class="inbox-message">{{ message?.Message }}</p>
    </div>
    <div [hidden]="isViewMessage()">
      <form [formGroup]="formGroup">
        <span [hidden]="!isCreateMessage()"
          ><mat-form-field>
            <input
              matInput
              type="text"
              id="subject"
              name="subject"
              placeholder="Subject"
              formControlName="subject"
              [formControl]="cfMessageSubject"
              [(ngModel)]="messageSubject"
              class=""
            /> </mat-form-field
        ></span>
        <span>
          <mat-form-field>
            <input
              matInput
              type="text"
              id="recipients"
              name="recipients"
              placeholder="Recipient"
              formControlName="recipients"
              [formControl]="cfMessageRecipients"
              class=""
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              id="recipients"
              #auto="matAutocomplete"
              [displayWith]="
                displayWithOptionsFilterByValueFn(filteredRecipients | async)
              "
            >
              <mat-option
                id="recipients"
                *ngFor="let value of filteredRecipients | async"
                [value]="value"
                (onSelectionChange)="onAddSelectedRecipient($event)"
                matSort
              >
                <i
                  [ngStyle]="{
                    display:
                      value?.icon === null || value?.icon === undefined
                        ? 'none'
                        : 'inline'
                  }"
                  class="material-icons icon-mat-option rounded {{
                    value?.cssClassCategory
                  }} {{ value?.cssClass }}"
                  [title]="value?.tooltip || value?.title"
                  >{{ value?.icon }}</i
                >
                <img
                  [ngStyle]="{
                    display:
                      value?.image === null || value?.image === undefined
                        ? 'none'
                        : 'inline'
                  }"
                  class="img-mat-option img23 rounded"
                  [title]="value?.displayName || value?.displayValue"
                  src="{{ value?.image }}"
                />
                {{ value?.displayName || value?.displayValue }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </span>
        <span>
          <ul>
            <li class="label">Recipient(s)&nbsp;:&nbsp;</li>
            <li class="description" *ngFor="let recipient of newRecipients">
              <i
                [ngStyle]="{
                  display:
                    recipient?.Recipient?.UserType?.Icon === null ||
                    recipient?.Recipient?.UserType?.Icon === undefined
                      ? 'none'
                      : 'inline'
                }"
                class="material-icons {{
                  recipient?.Recipient?.UserType?.CssClassCategory
                }} {{ recipient?.Recipient?.UserType?.CssClass }}"
                [title]="recipient?.Recipient?.UserType?.Value || ''"
                >{{ recipient?.Recipient?.UserType?.Icon }}</i
              >
              <img
                [ngStyle]="{
                  display:
                    recipient?.Recipient?.Avatar === null ||
                    recipient?.Recipient?.Avatar === undefined
                      ? 'none'
                      : 'inline'
                }"
                [title]="recipient?.Recipient?.DisplayName"
                src="{{ recipient?.Recipient?.Avatar }}"
              />
              {{ recipient?.Recipient?.DisplayName }}
              <a (click)="onButtonClickRemoveRecipient(recipient)">X</a>
            </li>
          </ul>
        </span>
        <div
          id="message"
          name="message"
          placeholder="Message"
          contenteditable="true"
          class="reply-message"
          (change)="onReplyMessageValueChanged($event)"
          (keyup)="onReplyMessageValueChanged($event)"
        ></div>
      </form>
    </div>
  </div>
  <footer class="footer">
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      (click)="action = 'ReplyAll'; setRecipients()"
      title="Reply All"
      [hidden]="!isViewMessage()"
    >
      <i class="material-icons idas-button-icon">reply_all</i>
    </button>
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      (click)="action = 'Reply'; setRecipients()"
      title="Reply"
      [hidden]="!isViewMessage()"
    >
      <i class="material-icons idas-button-icon">reply</i>
    </button>
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      title="Send"
      [disabled]="!canSend()"
      [hidden]="isViewMessage()"
      (click)="onButtonClickSend()"
      [mat-dialog-close]="selectedElement"
    >
      <i class="material-icons idas-button-icon">send</i>
    </button>
  </footer>
</div>
