<div class="idas-dialog open resize project-assignment">
  <div class="card-header card-header-danger header">
    <i class="material-icons idas-button-icon">{{ pageIcon }}</i>
    <h4 class="card-title">{{ pageTitle }}</h4>
    <p class="category">{{ projectName }}</p>
    <span>
      <button
        mat-icon-button
        class="btn btn-white btn-round btn-just-icon"
        type="button"
        (click)="onClickDialogClose()"
        title="Close"
      >
        <i class="material-icons idas-button-icon">close</i>
      </button>
    </span>
  </div>
  <div class="idas-toolbar">
    <form [formGroup]="frmGroup">
      <div class="content" formGroupName="frmFields">
        <div
          class="idas-toolbar-field"
          *ngFor="let fidc of formInputDataColumns; let i = index"
        >
          <mat-form-field>
            <input
              matInput
              type="text"
              id="{{ fidc.name }}"
              name="{{ fidc.name }}"
              [formControl]="frmGroupFields.controls[fidc.name]"
              class=""
              placeholder="{{ fidc.displayName }}"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              id="{{ fidc.name }}"
              #auto="matAutocomplete"
              [displayWith]="getDisplayWithValue"
            >
              <mat-option
                id="{{ fidc.name }}"
                *ngFor="let value of fidc.filteredLookupValues | async"
                [value]="value"
                (onSelectionChange)="onSelectedValueChanged($event)"
                matSort
              >
                <span
                  [ngStyle]="{
                    display:
                      value?.icon === null || value?.icon === undefined
                        ? 'none'
                        : 'inline'
                  }"
                >
                  <i
                    class="material-icons icon-mat-option rounded {{
                      value?.cssClassCategory
                    }} {{ value?.cssClass }}"
                    [title]="value?.title"
                    >{{ value?.icon }}</i
                  >
                </span>
                <span
                  [ngStyle]="{
                    display:
                      value?.image === null || value?.image === undefined
                        ? 'none'
                        : 'inline'
                  }"
                >
                  <img
                    class="img-mat-option img23 rounded"
                    src="{{ value?.image }}"
                  />
                </span>
                <p class="display-value">{{ value?.displayValue }}</p>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <span>
          <button
            mat-icon-button
            class="btn btn-white btn-round btn-just-icon"
            type="button"
            (click)="onClickAssignToProject()"
            title="Assign to Project"
          >
            <i class="material-icons idas-button-icon">fact_check</i>
          </button>
        </span>
      </div>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table mat-table [dataSource]="matTableDataSource" matSort>
        <ng-container
          [matColumnDef]="column.name"
          *ngFor="let column of dataSourceDisplayColumns"
        >
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.displayName }}
          </mat-header-cell>
          <mat-cell *matCellDef="let index; let element" class="mat-cell">
            <span [ngSwitch]="column.controlType">
              <span *ngSwitchCase="'break'"><br /></span>
              <span *ngSwitchCase="'checkbox'">
                <mat-checkbox
                  [value]="element[column.name]"
                  [(ngModel)]="element[column.name]"
                ></mat-checkbox>
              </span>
              <span *ngSwitchCase="'datetimepicker'">
                {{ element[column.name] }}
              </span>
              <span *ngSwitchCase="'number'">
                {{ element[column.name] }}
              </span>
              <span *ngSwitchCase="'password'"> </span>
              <span *ngSwitchCase="'select'">
                <span [ngSwitch]="column.selectOptionControlType">
                  <span *ngSwitchCase="'lookupIcon'">
                    <i
                      class="material-icons {{
                        getColumnCssClassCategoryById(
                          column,
                          element[column.name]
                        )
                      }} {{
                        getColumnCssClassById(column, element[column.name])
                      }} rounded"
                      [title]="
                        getColumnDisplayTitleById(column, element[column.name])
                      "
                      >{{
                        getColumnDisplayIconById(column, element[column.name])
                      }}</i
                    >
                  </span>
                  <span *ngSwitchCase="'lookupImage'">
                    <img
                      class="img-in-grid img30 rounded"
                      src="{{
                        getColumnDisplayImageById(column, element[column.name])
                      }}"
                      [title]="
                        getColumnDisplayTitleById(column, element[column.name])
                      "
                    />
                  </span>
                  <span *ngSwitchCase="'lookupValue'">
                    {{
                      getColumnDisplayValueById(column, element[column.name])
                    }}
                  </span>
                  <span *ngSwitchCase="'referenceValue'">
                    {{
                      getColumnDisplayValueById(column, element[column.name])
                    }}
                  </span>
                </span>
              </span>
              <span *ngSwitchCase="'image'">
                <img
                  class="img-in-grid img30 rounded"
                  src="{{
                    getColumnDisplayImageById(column, element[column.name])
                  }}"
                  [title]="
                    getColumnDisplayTitleById(column, element[column.name])
                  "
                />
              </span>
              <span *ngSwitchCase="'textarea'">
                <span>{{ fidc.displayName }}</span>
                <div
                  id="{{ fidc.name }}"
                  contenteditable="true"
                  class="textarea-editor"
                  (keyup)="onDivValueChanged($event)"
                >
                  {{ frmGroupFields.controls[fidc.name].value }}
                </div>
                <!-- <mat-form-field>
                    <textarea
                      matInput
                      type="textarea"
                      id="{{ fidc.name }}"
                      name="{{ fidc.name }}"
                      [formControl]="frmGroupFields.controls[fidc.name]"
                      class=""
                      placeholder="{{ fidc.displayName }}"
                      (keyup)="onValueChanged($event)"
                    ></textarea>
                  </mat-form-field> -->
              </span>
              <span *ngSwitchCase="'textbox'">
                {{ element[column.name] }}
              </span>
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="buttons" sticky>
          <mat-header-cell
            *matHeaderCellDef
            class="data-view-action-buttons-header"
            >&nbsp;</mat-header-cell
          >
          <mat-cell
            *matCellDef="let i = index; let element; let column"
            class="data-view-action-buttons-cell"
          >
            <span>
              <button
                mat-icon-button
                class="
                  btn btn-white btn-round btn-just-icon btn-idas-float-right
                "
                type="button"
                (click)="onClickDelete(element, getElementIndex(element))"
                title=""
              >
                <i class="material-icons idas-button-icon">delete</i>
              </button>
            </span>
          </mat-cell>
        </ng-container>
        <mat-header-row
          *matHeaderRowDef="dataSourceColumnNames"
        ></mat-header-row>
        <mat-row
          *matRowDef="
            let element;
            let elementIndex = index;
            columns: dataSourceColumnNames
          "
        ></mat-row>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
