<!-- <app-data-view-table-simple [pageIcon] = "pageIcon" [pageTitle] = "pageTitle" [pageName] = "pageName" [dataService] = "dataService" [entityName] = "entityName" [dataSource]="dataSource" [dataSourceColumns]="dataSourceColumns"></app-data-view-table-simple> -->
<div class="main-content idas-main-content">
  <div class="container-fluid">
    <div class="element">
      <div class="col-md-12">
        <div class="card">
          <app-page-header
            [entityName]="entityName"
            [pageIcon]="pageIcon"
            [pageName]="pageName"
            [pageTitle]="pageTitle"
            [pageSubTitle]="pageSubTitle"
            [hideButtonCreate]="true"
            [hideButtonRefresh]="false"
            [hideButtonSave]="true"
            (refresh)="onLoadRefreshData()"
          ></app-page-header>
          <div class="card-body">
            <app-calendar-toolbar></app-calendar-toolbar>
            <span [ngSwitch]="calendarService?.viewByOption?.name">
              <span *ngSwitchCase="'Month'">
                <app-calendar-view-by-month
                  [calendarEvents]="calendarEvents"
                  (newCalendarEvent)="onClickCreateNewCalendarEvent($event)"
                  (editCalendarEvent)="onClickCreateEditCalendarEvent($event)"
                ></app-calendar-view-by-month>
              </span>
              <span *ngSwitchCase="'Week'">
                <app-calendar-view-by-week
                  [calendarEvents]="calendarEvents"
                  (newCalendarEvent)="onClickCreateNewCalendarEvent($event)"
                  (editCalendarEvent)="onClickCreateEditCalendarEvent($event)"
                ></app-calendar-view-by-week>
              </span>
              <span *ngSwitchCase="'Work Week'">
                <app-calendar-view-by-work-week
                  [calendarEvents]="calendarEvents"
                  (newCalendarEvent)="onClickCreateNewCalendarEvent($event)"
                  (editCalendarEvent)="onClickCreateEditCalendarEvent($event)"
                ></app-calendar-view-by-work-week>
              </span>
              <span *ngSwitchCase="'Day'">
                <app-calendar-view-by-day
                  [calendarEvents]="calendarEvents"
                  (newCalendarEvent)="onClickCreateNewCalendarEvent($event)"
                  (editCalendarEvent)="onClickCreateEditCalendarEvent($event)"
                ></app-calendar-view-by-day>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
