<!-- <app-data-view-table-simple [pageIcon] = "pageIcon" [pageTitle] = "pageTitle" [pageName] = "pageName" [dataService] = "dataService" [entityName] = "entityName" [dataSource]="dataSource" [dataSourceColumns]="dataSourceColumns"></app-data-view-table-simple> -->
<div class="main-content idas-main-content">
  <div class="container-fluid">
    <div class="element">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger idas-main-card-header">
            <i class="material-icons">{{ pageIcon }}</i>
            <h4 class="card-title">{{ pageTitle }}</h4>
            <p class="category">{{ pageSubTitle }}</p>
            <span>
              <button
                mat-icon-button
                class="
                  btn btn-white btn-round btn-just-icon btn-idas-float-right
                "
                type="button"
                (click)="onDataRefresh()"
                title="{{ getButtonTitleDataRefresh() }}"
              >
                <i class="material-icons">autorenew</i>
              </button>
              <button
                mat-icon-button
                class="
                  btn btn-white btn-round btn-just-icon btn-idas-float-right
                "
                type="button"
                data-toggle="modal"
                data-target="#create-edit-modal-dialog"
                (click)="onClickCreate()"
                title="{{ getButtonTitleAdd() }}"
              >
                <i class="material-icons">add</i>
              </button>
            </span>
          </div>
          <div class="card-body">
            <app-calendar-toolbar></app-calendar-toolbar>
            <span [ngSwitch]="calendarService?.viewByOption?.name">
              <span *ngSwitchCase="'Month'">
                <app-calendar-view-by-month [calendarEvents]="calendarEvents" (newCalendarEvent)="onClickCreateNewCalendarEvent($event)" (editCalendarEvent)="onClickCreateEditCalendarEvent($event)"></app-calendar-view-by-month>
              </span>
              <span *ngSwitchCase="'Week'">
                <app-calendar-view-by-week [calendarEvents]="calendarEvents" (newCalendarEvent)="onClickCreateNewCalendarEvent($event)" (editCalendarEvent)="onClickCreateEditCalendarEvent($event)"></app-calendar-view-by-week>
              </span>
              <span *ngSwitchCase="'Work Week'">
                <app-calendar-view-by-work-week [calendarEvents]="calendarEvents" (newCalendarEvent)="onClickCreateNewCalendarEvent($event)" (editCalendarEvent)="onClickCreateEditCalendarEvent($event)"></app-calendar-view-by-work-week>
              </span>
              <span *ngSwitchCase="'Day'">
                <app-calendar-view-by-day [calendarEvents]="calendarEvents" (newCalendarEvent)="onClickCreateNewCalendarEvent($event)" (editCalendarEvent)="onClickCreateEditCalendarEvent($event)"></app-calendar-view-by-day>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
