<div class="idas-dialog open">
  <app-dialog-header
    [pageIcon]="pageIcon"
    [pageName]="pageName"
    [pageTitle]="pageTitle"
    [pageSubTitle]="pageSubTitle"
    (closeDialog)="onButtonClickCloseDialog()"
  ></app-dialog-header>
  <form [formGroup]="formGroup">
    <div class="content">
      <span>
        <span>Review</span>
        <div
          id="review"
          text-editable
          required
          contenteditable="true"
          class="textarea-editor review"
          (keyup)="onDivValueChanged($event)"
        ></div
      ></span>
      <span>
        <div>
          <input
            id="approve"
            type="radio"
            value="approve"
            name="reviewRapproveReject"
            formControlName="reviewRapproveReject"
          />
          <label for="approve">Approve</label>
          <input
            id="reject"
            type="radio"
            value="reject"
            name="reviewRapproveReject"
            formControlName="reviewRapproveReject"
          />
          <label for="reject">Reject</label>
        </div>
      </span>
    </div>
  </form>
  <footer class="footer">
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      (click)="onButtonClickSave()"
      [mat-dialog-close]="selectedElement"
      title="Save Changes"
      [disabled]="!ifCanSave"
    >
      <i class="material-icons idas-button-icon">save</i>
    </button>
  </footer>
</div>
