<div class="idas-dialog open">
  <div class="card-header card-header-danger header">
    <i class="material-icons idas-button-icon">{{ pageIcon }}</i>
    <h4 class="card-title">{{ pageTitle }}</h4>
    <p class="category">{{ pageSubTitle }}</p>
    <span>
      <button
        mat-icon-button
        class="btn btn-white btn-round btn-just-icon btn-idas-dialog-no btn-idas-dialog-float-right"
        type="button"
        data-dismiss="modal"
        (click)="onButtonClickCloseDialog()"
        title="Close"
      >
        <i class="material-icons header.buttons">close</i>
      </button>
    </span>
  </div>
  <form [formGroup]="frmGroup">
    <div class="content">
      <span>
        <span>Review</span>
        <div
          id="review"
          text-editable
          required
          contenteditable="true"
          class="textarea-editor review"
          (keyup)="onDivValueChanged($event)"
        >
        </div></span
      >
      <span>
        <div>
          <input id="approve" type="radio" value="approve" name="reviewRapproveReject" formControlName="reviewRapproveReject">
          <label for="approve">Approve</label>
          <input id="reject" type="radio" value="reject" name="reviewRapproveReject" formControlName="reviewRapproveReject">
          <label for="reject">Reject</label>
       </div>
      </span>
    </div>
  </form>
  <footer class="footer">
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      (click)="onButtonClickSave()"
      [mat-dialog-close]="selectedElement"
      title="Save Changes"
      [disabled]="!ifCanSave"
    >
      <i class="material-icons idas-button-icon">save</i>
    </button>
  </footer>
</div>
