<div class="idas-dialog open">
  <app-dialog-header
    [pageIcon]="pageIcon"
    [pageName]="pageName"
    [pageTitle]="pageTitle"
    [pageSubTitle]="pageSubTitle"
    (closeDialog)="onButtonClickCloseDialog()"
  ></app-dialog-header>
  <form [formGroup]="formGroup">
    <div class="content">
      <span>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="assignee"
            name="assignee"
            formControlName="assignee"
            placeholder="Assignee"
            class=""
            [matAutocomplete]="macAssignee"
            [(ngModel)]="assignee"
          />
          <mat-autocomplete
            id="assignee"
            #macAssignee="matAutocomplete"
            [displayWith]="displayWithOptionsFilterByIdFn(filteredAssignees | async)"
          >
            <mat-option
              id="assignee"
              *ngFor="let value of filteredAssignees | async"
              [value]="value?.id"
              (onSelectionChange)="onSelectedValueChanged($event)"
              matSort
            >
              <span
                [ngStyle]="{
                  display:
                    value?.icon === null || value?.icon === undefined
                      ? 'none'
                      : 'inline'
                }"
              >
                <i
                  class="material-icons icon-mat-option rounded {{
                    value?.cssClassCategory
                  }} {{ value?.cssClass }}"
                  [title]="value?.tooltip || value?.title"
                  >{{ value?.icon }}</i
                >
              </span>
              <span
                [ngStyle]="{
                  display:
                    value?.image === null || value?.image === undefined
                      ? 'none'
                      : 'inline'
                }"
              >
                <img
                  class="img-mat-option img23 rounded"
                  src="{{ value?.image }}"
                />
              </span>
              <p class="display-value">{{ value?.displayValue }}</p>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </span>
      <span [hidden]="conditionControlIsHidden()">
        <mat-form-field>
          <input
            matInput
            type="text"
            id="projectAssignmentType"
            name="projectAssignmentType"
            formControlName="projectAssignmentType"
            placeholder="Project Assignment Type"
            class=""
            [matAutocomplete]="macProjectAssignmentType"
            [(ngModel)]="projectAssignmentType"
          />
          <mat-autocomplete
            id="projectAssignmentType"
            #macProjectAssignmentType="matAutocomplete"
            [displayWith]="
              displayWithOptionsFilterByIdFn(filteredProjectAssignmentTypes | async)
            "
          >
            <mat-option
              id="projectAssignmentType"
              *ngFor="let value of filteredProjectAssignmentTypes | async"
              [value]="value?.id"
              (onSelectionChange)="onSelectedValueChanged($event)"
              matSort
            >
              <span
                [ngStyle]="{
                  display:
                    value?.icon === null || value?.icon === undefined
                      ? 'none'
                      : 'inline'
                }"
              >
                <i
                  class="material-icons icon-mat-option rounded {{
                    value?.cssClassCategory
                  }} {{ value?.cssClass }}"
                  [title]="value?.tooltip || value?.title"
                  >{{ value?.icon }}</i
                >
              </span>
              <span
                [ngStyle]="{
                  display:
                    value?.image === null || value?.image === undefined
                      ? 'none'
                      : 'inline'
                }"
              >
                <img
                  class="img-mat-option img23 rounded"
                  src="{{ value?.image }}"
                />
              </span>
              <p class="display-value">{{ value?.displayValue }}</p>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </span>
      <span>
        <span>Comment</span>
        <div
          id="comment"
          contenteditable="true"
          class="textarea-editor work-description"
          (keyup)="onDivValueChanged($event)"
        ></div>
      </span>
    </div>
  </form>
  <footer class="footer">
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      (click)="onButtonClickSave()"
      [mat-dialog-close]="selectedElement"
      title="Save Changes"
      [disabled]="formGroup.invalid"
    >
      <i class="material-icons idas-button-icon">save</i>
    </button>
  </footer>
</div>
