<!-- <app-data-view-table-simple [pageIcon] = "pageIcon" [pageTitle] = "pageTitle" [pageName] = "pageName" [dataService] = "dataService" [entityName] = "entityName" [dataSource]="dataSource" [dataSourceColumns]="dataSourceColumns"></app-data-view-table-simple> -->
<div class="main-content idas-main-content">
  <div class="container-fluid">
    <div class="element">
      <div class="col-md-12">
        <div class="card">
          <app-page-header
            [entityName]="entityName"
            [pageIcon]="pageIcon"
            [pageName]="pageName"
            [pageTitle]="pageTitle"
            [pageSubTitle]="pageSubTitle"
            [hideButtonCreate]="true"
            [hideButtonRefresh]="true"
            [hideButtonSave]="true"
          ></app-page-header>
          <div class="card-body">
            <div class="idas-project-task-card-main-toolbar mat-elevation-z4">
              <p>Filter By User:</p>
              <img
                *ngFor="let user of users"
                class="btn-idas img-manage-task-toolbar"
                src="{{ user?.Avatar || './assets/img/avatars/avatar-0.png' }}"
                [title]="user?.DisplayName || user?.EmailAddress"
              />
            </div>
            <br />
            <br />
            <mat-accordion>
              <mat-expansion-panel
                class="mat-elevation-z0"
                [expanded]="i === 0"
                [togglePosition]="'before'"
                *ngFor="let project of projects; let i = index"
              >
                <mat-expansion-panel-header
                  class="mat-elevation-z2 idas-project-task-panel-header"
                >
                  <i
                    class="material-icons project type {{
                      project?.ProjectType?.CssClassCategory
                    }} {{ project?.ProjectType?.CssClass }}"
                    [title]="project?.Value"
                    [ngStyle]="{
                      display:
                        project?.ProjectType?.Icon === null ||
                        project?.ProjectType?.Icon === undefined
                          ? 'none'
                          : 'inline'
                    }"
                    >{{ project?.ProjectType?.Icon }}</i
                  >
                  <p class="project code id">
                    <a href="#/projects/project/{{ project?._id }}"
                      >{{ project?.Code }} / {{ project?._id }}</a
                    >
                  </p>
                  <p class="project name">{{ project?.Name }}</p>
                  <p class="project task-count">
                    {{ project?.Tasks?.length || 0 }} Task(s)
                  </p>
                  <p
                    class="project status {{
                      project?.Status?.CssClassCategory
                    }} {{ project?.Status?.CssClass }}"
                  >
                    {{ project?.Status?.Value }}
                  </p>
                </mat-expansion-panel-header>
                <app-view-associated-project-task
                  *ngFor="let task of project?.Tasks"
                  [entityName]="'task'"
                  [currentEntity]="task"
                  [currentEntityId]="task?._id"
                ></app-view-associated-project-task>
                <div class="idas-tasks-footer-action-buttons">
                  <button
                    mat-icon-button
                    class="btn btn-white btn-round btn-just-icon btn-idas-float-right"
                    type="button"
                    (click)="onClickAddNewProjectTask(project)"
                    title="Add New Task"
                  >
                    <i class="material-icons idas-button-icon">post_add</i>
                  </button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
