<div class="idas-dialog open">
  <app-dialog-header
    [pageIcon]="pageIcon"
    [pageName]="pageName"
    [pageTitle]="pageTitle"
    [pageSubTitle]="pageSubTitle"
    (closeDialog)="onButtonClickCloseDialog()"
  ></app-dialog-header>
  <form [formGroup]="formGroup">
    <div class="content">
      <span>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="timeSpent"
            name="timeSpent"
            formControlName="timeSpent"
            class=""
            placeholder="Time Spent (e.g. 1y 12m 365d 52w 24h 60min)"
            [(ngModel)]="timeSpent"
            (change)="onValueChanged($event)"
          />
        </mat-form-field>
        <span>
          An estimate of how much time you have spent working on the
          <span style="font-weight: bold">{{
            capitalizeFirstLetter(entityName)
          }}</span
          >. <br />Where
          <span style="font-weight: bold"
            >y = Year, m = Month, d = Day, w = Week, h = Hour, min =
            Minutes.</span
          >
          <br />
          <br />
        </span>
      </span>
      <span>
        <mat-form-field>
          <input
            matInput
            type="text"
            id="dateStarted"
            name="dateStarted"
            formControlName="dateStarted"
            placeholder="Date Started"
            class=""
            [(ngModel)]="dateStarted"
            [ngxMatDatetimePicker]="picker"
            (dateInput)="onDateTimePickerChanged($event)"
            (dateChange)="onDateTimePickerChanged($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker
            [enableMeridian]="true"
          ></ngx-mat-datetime-picker>
        </mat-form-field>
      </span>
      <span>
        <span>Work Comment(s)</span>
        <div
          id="comment"
          contenteditable="true"
          class="textarea-editor work-description"
          [(ngModel)]="comment"
          (keyup)="onDivValueChanged($event)"
        >
          {{ formGroup.controls["comment"].value }}
        </div>
      </span>
    </div>
  </form>
  <footer class="footer">
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      (click)="onButtonClickSave()"
      [mat-dialog-close]="selectedElement"
      title="Save Changes"
    >
      <i class="material-icons idas-button-icon">save</i>
    </button>
  </footer>
</div>
