<table
  class="calendar-table week-view"
  *ngIf="calendarService?.viewCalendarDays"
>
  <thead>
    <tr>
      <th class="no-data" style="background-color: #ffffff; border-style: none">
        &nbsp;
      </th>
      <th
        *ngFor="
          let calendarDay of calendarService?.viewCalendarDays;
          let i = index
        "
        [ngClass]="{
          'is-past-date': calendarDay?.IsPastDate,
          'is-today':
            (i == 0 && j == 0) ||
            calendarDay?.IsToday ||
            calendarDay?.IsFirstDayOfMonth,
          'is-future-date': calendarDay?.IsFutureDate
        }"
      >
        <span
          [ngClass]="{
            'is-past-date': calendarDay?.IsPastDate,
            'is-today':
              (i == 0 && j == 0) ||
              calendarDay?.IsToday ||
              calendarDay?.IsFirstDayOfMonth,
            'is-future-date': calendarDay?.IsFutureDate
          }"
          >{{ weekDays[calendarDay?.Date?.getDay()] }}</span
        >
      </th>
    </tr>
    <tr>
      <th class="no-data" style="background-color: #ffffff; border-style: none">
        &nbsp;
      </th>
      <td
        *ngFor="let calendarDay of calendarService?.viewCalendarDays"
        style="background-color: #ffffff"
      >
        <span
          class="day"
          [ngClass]="{
            'is-past-date': calendarDay?.IsPastDate,
            'is-today':
              (i == 0 && j == 0) ||
              calendarDay?.IsToday ||
              calendarDay?.IsFirstDayOfMonth,
            'is-future-date': calendarDay?.IsFutureDate
          }"
          >{{ calendarDay?.Date?.getDate() }}<mat-menu
          #dayMenu="matMenu"
          xPosition="after"
          yPosition="below"
          class="mat-menu"
        >
          <button
            *ngFor="let menuOption of dayMenuNavOptions"
            class="btn-calendar"
            mat-menu-item
            (click)="onClickCalendarDayMenu(menuOption.name, calendarDay?.Date)"
          >
            <i
              class="material-icons {{ menuOption?.cssClass }}"
              [ngStyle]="{
                display:
                  menuOption?.icon === null ||
                  menuOption?.icon === undefined
                    ? 'none'
                    : 'inline'
              }"
              >{{ menuOption?.icon }}</i
            >{{ menuOption?.title }}
          </button>
        </mat-menu></span
        >
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let operatingHour of operatingHours; let i = index">
      <td class="operating-hour">
        {{ operatingHour }}
      </td>
      <td *ngFor="let calendarDay of calendarService?.viewCalendarDays">
        <span
          *ngFor="
            let calendarEvent of getCalendarEventsByDateTime(
              calendarDay?.Date,
              operatingHour
            )
          "
          class="calendar-event week-view"
          [title]="calendarEvent?.Title"
          [ngStyle]="{ display: showEvents(calendarDay?.Date) }"
          (click)="onClickEditCalendarEvent(calendarEvent)"
        >
          <i
            class="material-icons {{ calendarEvent?.CssClass }}"
            [ngStyle]="{
              display:
                calendarEvent?.Icon === null ||
                calendarEvent?.Icon === undefined
                  ? 'none'
                  : 'inline'
            }"
            [title]="calendarEvent?.IconTitle"
            >{{ calendarEvent?.Icon }}</i
          >
          {{ calendarEvent?.Title }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
