<table
  class="calendar-table week-view"
  *ngIf="calendarService?.viewCalendarDays"
>
  <thead>
    <tr>
      <th class="no-data" style="background-color: #ffffff; border-style: none">
        &nbsp;
      </th>
      <th
        *ngFor="let calendarDay of calendarService?.viewCalendarDays"
        [ngClass]="{ 'is-today': calendarDay?.IsToday }"
      >
        <span [ngClass]="{ 'is-today': calendarDay?.IsToday }">{{
          weekDays[calendarDay?.Date?.getDay()]
        }}</span>
      </th>
    </tr>
    <tr>
      <th class="no-data" style="background-color: #ffffff; border-style: none">
        &nbsp;
      </th>
      <td
        *ngFor="let calendarDay of calendarService?.viewCalendarDays"
        style="background-color: #ffffff"
      >
        <span class="day" [ngClass]="{ 'is-today': calendarDay?.IsToday }">{{
          calendarDay?.Date?.getDate()
        }}</span>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let operatingHour of operatingHours; let i = index;">
      <td class="operating-hour">
        {{ operatingHour }}
      </td>
      <td *ngFor="let calendarDay of calendarService?.viewCalendarDays">
        <span
          *ngFor="
            let calendarEvent of getCalendarEventsByTime(
              calendarDay?.Date,
              operatingHour
            )
          "
          class="calendar-event week-view"
          [title]="calendarEvent?.Title"
          [ngStyle]="{ display: hasEvents(calendarDay?.Date) }"
        >
          <i
            class="material-icons {{ calendarEvent?.CssClass }}"
            [ngStyle]="{
              display:
                calendarEvent?.Icon === null ||
                calendarEvent?.Icon === undefined
                  ? 'none'
                  : 'inline'
            }"
            >{{ calendarEvent?.Icon }}</i
          >
          {{ calendarEvent?.Title }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
