<div>
  <!-- Toolbar -->
  <app-calendar-toolbar></app-calendar-toolbar>
  <span [ngSwitch]="calendarService.viewByOption.name">
    <span *ngSwitchCase="'Month'">
      <app-calendar-view-by-month
        [calendarEvents]="calendarEvents"
      ></app-calendar-view-by-month>
    </span>
    <span *ngSwitchCase="'Week'">
      <app-calendar-view-by-week
        [calendarEvents]="calendarEvents"
      ></app-calendar-view-by-week>
    </span>
    <span *ngSwitchCase="'Work Week'">
      <app-calendar-view-by-work-week
        [calendarEvents]="calendarEvents"
      ></app-calendar-view-by-work-week>
    </span>
    <span *ngSwitchCase="'Day'">
      <app-calendar-view-by-day
        [calendarEvents]="calendarEvents"
      ></app-calendar-view-by-day>
    </span>
  </span>
</div>
