<div
  class="card-header card-header-danger header"
>
  <i class="material-icons idas-button-icon">{{ pageIcon }}</i>
  <h4>{{ pageTitle }}</h4>
  <p class="category">{{ pageSubTitle }}</p>
  <span>
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-no btn-idas-dialog-float-right"
      type="button"
      data-dismiss="modal"
      (click)="onButtonClickCloseDialog()"
      title="Close"
    >
      <i class="material-icons header.buttons">close</i>
    </button>
  </span>
</div>
