@import './../../../assets/scss/idas/colors.scss';
@import './../../../assets/scss/idas/fonts.scss';

.idas-navbar {
  width: 15%;
  ul,
  li {
    display: inline;
    list-style: none;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  i {
    display: inline;
    float: right;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  img {
    border-radius: 8px;
    display: inline;
    float: right;
    height: auto;
    vertical-align: middle;
    &.avatar {
      cursor: pointer;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      width: 48%;
    }
  }
}

.idas-dropdown-item-link {
  width: 15vw;
  a:link,
  a:active,
  a:visited {
    color: $idas-color-main-links-link-active-visited;
  }
  a:hover {
    background-color: $idas-color-main-links-hover;
  }
}
