<table
  class="calendar-table week-view"
  *ngIf="calendarService?.viewCalendarDays"
>
  <thead>
    <tr>
      <th class="no-data" style="background-color: #ffffff; border-style: none">
        &nbsp;
      </th>
      <th
        *ngFor="
          let calendarDay of calendarService?.viewCalendarDays;
          let i = index
        "
        style="width: 100%"
        [ngClass]="{
          'is-past-date': calendarDay?.IsPastDate,
          'is-today':
            (i == 0 && j == 0) ||
            calendarDay?.IsToday ||
            calendarDay?.IsFirstDayOfMonth,
          'is-future-date': calendarDay?.IsFutureDate
        }"
      >
        <span
          [ngClass]="{
            'is-past-date': calendarDay?.IsPastDate,
            'is-today':
              (i == 0 && j == 0) ||
              calendarDay?.IsToday ||
              calendarDay?.IsFirstDayOfMonth,
            'is-future-date': calendarDay?.IsFutureDate
          }"
          >{{ weekDays[calendarDay?.Date?.getDay()] }}</span
        >
      </th>
    </tr>
    <tr>
      <th class="no-data" style="background-color: #ffffff; border-style: none">
        &nbsp;
      </th>
      <td
        *ngFor="let calendarDay of calendarService?.viewCalendarDays"
        style="background-color: #ffffff"
      >
        <span
          class="day"
          [ngClass]="{
            'is-past-date': calendarDay?.IsPastDate,
            'is-today':
              (i == 0 && j == 0) ||
              calendarDay?.IsToday ||
              calendarDay?.IsFirstDayOfMonth,
            'is-future-date': calendarDay?.IsFutureDate
          }"
          >{{ calendarDay?.Date?.getDate() }}</span
        >
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let operatingHour of operatingHours; let i = index">
      <td class="operating-hour">
        {{ operatingHour }}
      </td>
      <td *ngFor="let calendarDay of calendarService?.viewCalendarDays">
        <span
          *ngFor="
            let calendarEvent of getCalendarEventsByTime(
              calendarDay?.Date,
              operatingHour
            )
          "
          class="calendar-event week-view"
          [title]="calendarEvent?.Title"
          [ngStyle]="{ display: hasEvents(calendarDay?.Date) }"
        >
          <i
            class="material-icons {{ calendarEvent?.CssClass }}"
            [ngStyle]="{
              display:
                calendarEvent?.Icon === null ||
                calendarEvent?.Icon === undefined
                  ? 'none'
                  : 'inline'
            }"
            >{{ calendarEvent?.Icon }}</i
          >
          {{ calendarEvent?.Title }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
