<mat-tab-group animationDuration="2000ms">
  <mat-tab label="Comment(s)">
    <div *ngFor="let comment of currentEntity?.Comments" class="div comment">
      <i
        [ngStyle]="{
          display:
            comment?.createdBy?.UserType?.Icon === null ||
            comment?.createdBy?.UserType?.Icon === undefined
              ? 'none'
              : 'inline'
        }"
        class="material-icons {{
          comment?.createdBy?.UserType?.CssClassCategory
        }} {{ comment?.createdBy?.UserType?.CssClass }}"
        [title]="comment?.createdBy?.UserType?.Value"
        >{{ comment?.createdBy?.UserType?.Icon || "report_problem" }}</i
      >
      <img
        [ngStyle]="{
          display:
            comment?.createdBy?.Avatar === null ||
            comment?.createdBy?.Avatar === undefined
              ? 'none'
              : 'inline'
        }"
        class="btn-idas avatar"
        src="{{ comment?.createdBy?.Avatar }}"
        [title]="comment?.createdBy?.DisplayName"
      />
      <span class="displayName">
        {{ comment?.createdBy?.DisplayName }}
      </span>
      <span class="text added-comment"> added a comment </span>
      <span class="timeElapsed">
        {{ formattedTimeElapsed(comment?.DateCreated) }}
      </span>
      <br />
      <span class="text comment">{{ comment?.Comment }}</span>
    </div>
  </mat-tab>
  <mat-tab label="Work Log(s)">
    <div *ngFor="let worklog of currentEntity?.Worklogs" class="div worklog">
      <i
        [ngStyle]="{
          display:
            worklog?.createdBy?.UserType?.Icon === null ||
            worklog?.createdBy?.UserType?.Icon === undefined
              ? 'none'
              : 'inline'
        }"
        class="material-icons {{
          worklog?.createdBy?.UserType?.CssClassCategory
        }} {{ worklog?.createdBy?.UserType?.CssClass }}"
        [title]="worklog?.createdBy?.UserType?.Value"
        >{{ worklog?.createdBy?.UserType?.Icon || "report_problem" }}</i
      >
      <img
        [ngStyle]="{
          display:
            worklog?.createdBy?.Avatar === null ||
            worklog?.createdBy?.Avatar === undefined
              ? 'none'
              : 'inline'
        }"
        src="{{ worklog?.createdBy?.Avatar }}"
        [title]="worklog?.createdBy?.DisplayName"
      />
      <span class="displayName">
        {{ worklog?.createdBy?.DisplayName }}
      </span>
      <span class="text added-worklog">logged work</span>
      <span class="timeElapsed">
        {{ formattedTimeElapsed(worklog?.DateCreated) }}
      </span>
      <br />
      <br />
      <span class="displayName">Time Spent:</span>
      <span class="timeSpent">{{ formatTimeSpent(worklog?.TimeSpent) }}</span>
      <br />
      <span class="text worklog">{{ worklog?.Comment }}</span>
    </div>
  </mat-tab>
  <mat-tab label="Review(s)">
    <div *ngFor="let review of currentEntity?.Reviews" class="div review">
      <i
        [ngStyle]="{
          display:
            review?.createdBy?.UserType?.Icon === null ||
            review?.createdBy?.UserType?.Icon === undefined
              ? 'none'
              : 'inline'
        }"
        class="material-icons {{
          review?.createdBy?.UserType?.CssClassCategory
        }} {{ review?.createdBy?.UserType?.CssClass }}"
        [title]="review?.createdBy?.UserType?.Value"
        >{{ review?.createdBy?.UserType?.Icon || "report_problem" }}</i
      >
      <img
        [ngStyle]="{
          display:
            review?.createdBy?.Avatar === null ||
            review?.createdBy?.Avatar === undefined
              ? 'none'
              : 'inline'
        }"
        class="btn-idas avatar"
        src="{{ review?.createdBy?.Avatar }}"
        [title]="review?.createdBy?.DisplayName"
      />
      <span class="displayName">
        {{ review?.createdBy?.DisplayName }}
      </span>
      <span class="text added-review">logged a review</span>
      <span class="dateCreated">
        {{ formattedTimeElapsed(review?.DateCreated) }}
      </span>
      <!-- <span>
                          <div>
                            <input id="approve" type="radio" value="{{review?.Approved}}">
                            <label for="approve">Approved</label>
                            <input id="reject" type="radio" value="{{review?.Rejected}}">
                            <label for="reject">Rejected</label>
                         </div>
                        </span> -->
      <br />
      <span class="text review">{{ review?.Review }}</span>
    </div></mat-tab
  >
  <!--                                         <mat-tab label="Time in Status"></mat-tab> -->
</mat-tab-group>
