<div *ngIf="!isLoggedIn()" class="main-content idas-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="header">
                <div class="app-logo">
                    <img src="./../../../assets/img/idas/izz-logo-icon-only.png"/>
                </div>
                <div class="app-name">
                    <p class="primary">{{companyName}} - {{applicationName}}</p>
                </div>
                <div class="app-login">
                    <p class="primary">Log In</p>
                </div>
            </div>
            <div class="form-group">
                <form [formGroup]="formLogin">
                    <span>
                      <mat-form-field>
                        <input matInput
                            type="text"
                            id="uid"
                            name="uid"
                            formControlName="uid"
                            class=""
                            [(ngModel)]="uid"
                            placeholder="Email Address / User Name" />
                      </mat-form-field>
                      <a class="forgot" href="#">Forgot email address / username?</a>
                    </span>
                    <br />
                    <br />                   
                    <span>
                        <mat-form-field>
                          <input matInput
                              type="password"
                              id="password"
                              name="password"
                              formControlName="password"
                              class=""
                              [(ngModel)]="password"
                              placeholder="Password" />
                        </mat-form-field>
                        <a class="forgot" href="#">Forgot password?</a>
                    </span>
                    <br />
                    <br />
                    <span>
                        <button mat-icon-button type="submit" class="btn btn-white btn-round btn-just-icon btn-idas-float-left btn-idas-yes" [hidden]="isLoggedIn()" [disabled]="formLogin.pristine || formLogin.invalid || isBusy" (click)="onClickLogin()" title="Login">
                            <i class="material-icons idas-button-icon">{{isBusy ? "lock" : "lock_open"}}</i>
                        </button>
                        <button mat-icon-button type="submit" class="btn btn-white btn-round btn-just-icon btn-idas-float-left btn-idas-no" [hidden]="!isLoggedIn()" (click)="toggleLogout()" title="Logout">
                            <i class="material-icons idas-button-icon">lock</i>
                        </button>
                    </span>
                    <div *ngIf="isBusy || authError" class="idas-login-alert" [ngClass]="{'on-login': this.isBusy, 'on-success': !this.authError, 'on-error': this.authError}">
                        <p>{{authError ? currentAuthenticationMessage : 'Please wait, authenticating'}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer *ngIf="!isLoggedIn()" class="footer idas-footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.izingcweti.co.za/" target="_blank">
                      &copy;
                      {{todaysDate | date: 'yyyy'}} {{companyName}} - {{applicationName}}. All Rights Reserved.
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right powered-by">
          Powered by:
          <a href="http://www.skinnovations.co.za/" target="_blank">SK Innovations</a>
        </div>
    </div>
  </footer>