@import "../../../...../../../assets/scss/idas/colors.scss";
@import "../../../...../../../assets/scss/idas/fonts.scss";

body {
  overflow: hidden;
}

.header {
  height: auto;
  margin-left: 38vw;
  margin-top: 4vh;
  padding: 0;
  width: 42vw;
}

.app-logo {
  display: inline-block;
  height: auto;
  // margin: 80px 0 10px auto;
  padding-right: 5px;

  img {
    display: inline-block;
    height: auto;
    width: 80px;
  }
}

.app-name {
  display: inline-block;
  padding: 0 0 0 0;

  p {
    &.primary {
      color: $idas-color-heading-background-secondary;
      display: inline-block;
      font-family: $OpenSans_Bold;
      font-size: 1.55em;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
  }
}

.app-login {
  p {
    &.primary {
      color: $idas-color-footer-background;
      display: inline-block;
      font-family: $OpenSans_SemiBold;
      font-size: 1.45em;
      letter-spacing: 0.10em;
      margin: 10vh auto 10vh 5vw;
      text-align: center;
    }
  } 
}

.form-group {
  margin-left: 20vw;
  width: 60vw;

  mat-form-field {
    font-family: $OpenSans_Bold;
    font-size: 1.15em;
  }
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.35em;
  }

  a:link, a:active, a:visited {
    color: $idas-color-body-links-active-visited;
    cursor: pointer;
    font-family: $OpenSans_SemiBold;
    font-size: 1.15em;
    &.forgot {
      float: right;
      padding: 15px 0 5px 0;
    }
    &.register {
      padding: 10px 0 0 10px;      
    }
  }
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.idas-login-alert {
  border-radius: 6px;
  margin: 8px 0 0 145px;
  &.on-login, &.on-success {
    background-color: $idas-color-alert-success;    
  }  
  &.on-error {
    background-color: $idas-color-alert-fatal;
  }
  p {
    color: #ffffff;
    font-family: $OpenSans_Bold;
    padding: 10px 10px 10px 5px;
    text-align: right;
  }
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
.idas-footer {
  background-color: $idas-color-footer-background;
  color: whitesmoke;
  height: fit-content;
  padding-top: 20px;

  .powered-by {
    font-size: 14px;
  }
}

a {
  color: #FF4500;
  &:hover{
    color: #ec5800;
    text-decoration: none;
  }
}
