<table
  class="calendar-table month-view"
  *ngIf="calendarService?.viewCalendarDays"
>
  <thead>
    <tr>
      <th *ngFor="let weekDay of weekDays; let wdi = index">
        <span
          [ngClass]="{
            'is-today': calendarService?.viewDate?.getDay() === wdi
          }"
          >{{ weekDay }}</span
        >
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let calendarDays of calendarService?.viewCalendarDays | chunk: 7;
        let i = index
      "
    >
      <td
        *ngFor="let calendarDay of calendarDays; let j = index"
        class="calendar-day month-view"
        [ngClass]="{
          'is-past-date': calendarDay?.IsPastDate,
          'is-today':
            (i == 0 && j == 0) ||
            calendarDay?.IsToday ||
            calendarDay?.IsFirstDayOfMonth,
          'is-future-date': calendarDay?.IsFutureDate
        }"
      >
        <div>
          <span
            class="day"
            [ngClass]="{
              'is-past-date': calendarDay?.IsPastDate,
              'is-today':
                (i == 0 && j == 0) ||
                calendarDay?.IsToday ||
                calendarDay?.IsFirstDayOfMonth,
              'is-future-date': calendarDay?.IsFutureDate
            }"
            [matMenuTriggerFor]="dayMenu"
          >
            {{ calendarDay?.Date?.getDate() }}
            {{
              (i == 0 && j == 0) || calendarDay?.Date?.getDate() == 1
                ? (monthNames[calendarDay?.Date?.getMonth()] || "").substring(
                    0,
                    3
                  )
                : ""
            }}<mat-menu
              #dayMenu="matMenu"
              xPosition="after"
              yPosition="below"
              class="mat-menu"
            >
              <button
                *ngFor="let menuOption of dayMenuNavOptions"
                class="btn-calendar"
                mat-menu-item
                (click)="onClickCalendarDayMenu(menuOption.name, calendarDay?.Date)"
              >
                <i
                  class="material-icons {{ menuOption?.cssClass }}"
                  [ngStyle]="{
                    display:
                      menuOption?.icon === null ||
                      menuOption?.icon === undefined
                        ? 'none'
                        : 'inline'
                  }"
                  >{{ menuOption?.icon }}</i
                ><span>{{ menuOption?.title }}</span>
              </button>
            </mat-menu></span
          >
          <span
            class="count"
            [title]="getEventsCountTitle(calendarDay?.Date)"
            [ngStyle]="{ display: showEvents(calendarDay?.Date) }"
            >{{ numberOfEvents(calendarDay?.Date) }}</span
          >
          <br />
          <span
            *ngFor="
              let calendarEvent of getFirst3CalendarEventsByDate(
                calendarDay?.Date
              )
            "
            class="calendar-event month-view"
            [title]="calendarEvent?.Title"
            [ngStyle]="{ display: showEvents(calendarDay?.Date) }"
            (click)="onButtonClickEditCalendarEvent(calendarEvent)"
          >
            <i
              class="material-icons {{ calendarEvent?.CssClass }}"
              [ngStyle]="{
                display:
                  calendarEvent?.Icon === null ||
                  calendarEvent?.Icon === undefined
                    ? 'none'
                    : 'inline'
              }"
              [title]="calendarEvent?.IconTitle"
              >{{ calendarEvent?.Icon }}</i
            >
            {{ calendarEvent?.Title }}</span
          >
          <span
            class="calendar-event show-more"
            [ngStyle]="{
              display:
                getCalendarEventsByDate(calendarDay?.Date).slice(3).length >= 1
                  ? 'inline'
                  : 'none'
            }"
            (click)="onClickShowMore(calendarDay?.Date)"
            >+
            {{
              getCalendarEventsByDate(calendarDay?.Date).slice(3).length
            }}</span
          >
        </div>
      </td>
    </tr>
  </tbody>
</table>
