<div
  class="idas-dialog open"
  [ngClass]="{
    'dialog-resize-38vw': pageWidth === '38vw',
    'dialog-resize-39': pageWidth === '39',
    'dialog-resize-40': pageWidth === '40',
    'dialog-resize-41': pageWidth === '41',
    'dialog-resize-42': pageWidth === '42',
    'dialog-resize-43': pageWidth === '43',
    'dialog-resize-44': pageWidth === '44',
    'dialog-resize-45': pageWidth === '45',
    'dialog-resize-46': pageWidth === '46',
    'dialog-resize-47': pageWidth === '47',
    'dialog-resize-48': pageWidth === '48',
    'dialog-resize-49': pageWidth === '49',
    'dialog-resize-50': pageWidth === '50',
    'dialog-resize-51': pageWidth === '51',
    'dialog-resize-52': pageWidth === '52',
    'dialog-resize-53': pageWidth === '53',
    'dialog-resize-54': pageWidth === '54',
    'dialog-resize-55': pageWidth === '55',
    'dialog-resize-56': pageWidth === '56',
    'dialog-resize-57': pageWidth === '57',
    'dialog-resize-58': pageWidth === '58',
    'dialog-resize-59': pageWidth === '59',
    'dialog-resize-60': pageWidth === '60',
    'dialog-resize-61': pageWidth === '61',
    'dialog-resize-62': pageWidth === '62',
    'dialog-resize-63': pageWidth === '63',
    'dialog-resize-64': pageWidth === '64',
    'dialog-resize-65': pageWidth === '65',
    'dialog-resize-66': pageWidth === '66',
    'dialog-resize-67': pageWidth === '67',
    'dialog-resize-68': pageWidth === '68',
    'dialog-resize-69': pageWidth === '69',
    'dialog-resize-70': pageWidth === '70',
    'dialog-resize-71': pageWidth === '71',
    'dialog-resize-72': pageWidth === '72',
    'dialog-resize-73': pageWidth === '73',
    'dialog-resize-74': pageWidth === '74',
    'dialog-resize-75': pageWidth === '75'
  }"
>
  <app-dialog-header
    [pageIcon]="pageIcon"
    [pageName]="pageName"
    [pageTitle]="pageTitle"
    [pageSubTitle]="pageSubTitle"
    (closeDialog)="onButtonClickCloseDialog()"
  ></app-dialog-header>
  <div class="content">
    <app-common-switch-case-data-input
      [action]="action"
      [entityId]="
        currentEntityId || selectedElement?._id || selectedElement?.id
      "
      [entityName]="entityName"
      [entity]="selectedElement"
      [columns]="dataSourceColumns"
      [updates]="updates"
    ></app-common-switch-case-data-input>
  </div>
  <footer class="footer">
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      (click)="onButtonClickSave()"
      [mat-dialog-close]="selectedElement"
      title="Save Changes"
    >
      <i class="material-icons idas-button-icon">save</i>
    </button>
  </footer>
</div>
