<div class="idas-dialog open resize calendar-event-dialog">
  <div class="card-header card-header-danger header">
    <i class="material-icons idas-button-icon">{{ pageIcon }}</i>
    <h4 class="card-title">{{ pageTitle }}</h4>
    <p class="category">{{ pageSubTitle }}</p>
    <span>
      <button
        mat-icon-button
        class="btn btn-white btn-round btn-just-icon btn-idas-dialog-no btn-idas-dialog-float-right"
        type="button"
        data-dismiss="modal"
        (click)="onButtonClickCloseDialog()"
        title="Close"
      >
        <i class="material-icons header.buttons">close</i>
      </button>
    </span>
  </div>
  <div class="content">
    <form [formGroup]="formGroup">
      <mat-tab-group animationDuration="2000ms" formGroupName="frmFields">
        <mat-tab label="Event Details"
          ><br />
          <span
            class="event organiser"
            [ngStyle]="{
              display:
                selectedElement.createdBy === null ||
                selectedElement.createdBy === undefined
                  ? 'none'
                  : 'inline'
            }"
          >
            <i class="material-icons">person_pin</i>
            <p class="label">Organiser</p>
            <i
              class="material-icons organiser-type {{
                selectedElement?.createdBy?.UserType?.CssClassCategory
              }} {{ selectedElement?.createdBy?.UserType?.CssClass }}"
              [title]="selectedElement?.createdBy?.UserType?.Value"
              >{{ selectedElement?.createdBy?.UserType?.Icon }}</i
            >
            <img src="{{ selectedElement?.createdBy?.Avatar }}" />
            <p class="created-by">
              {{ selectedElement?.createdBy?.DisplayName }}
            </p>
            <i class="material-icons">schedule</i>
            <p class="label">Date Created</p>
            <p class="date-created">
              {{
                selectedElement?.createdBy?.DateCreated
                  | date: "EEEE, MMMM d, y"
              }}
            </p>
            <br />
            <br />
          </span>
          <app-common-switch-case-data-input
            [action]="action"
            [entityId]="
              currentEntityId || selectedElement?._id || selectedElement?.id
            "
            [entityName]="entityName"
            [entity]="selectedElement"
            [columns]="dataSourceColumns"
            [updates]="updates"
          ></app-common-switch-case-data-input>
        </mat-tab>
        <mat-tab label="Event Attendee(s)">
          <br />
          <span class="event attendee-input">
            <mat-form-field>
              <input
                matInput
                type="text"
                id="eventAttendee"
                name="eventAttendee"
                [formControl]="frmCtrlEventAttendees"
                placeholder="Event Attendee"
                [matAutocomplete]="eventAttendee"
              />
              <mat-autocomplete
                id="eventAttendee"
                #eventAttendee="matAutocomplete"
                [displayWith]="displayWithFn(filteredEventAttendees | async)"
              >
                <mat-option
                  id="eventAttendee"
                  *ngFor="let user of filteredEventAttendees | async"
                  [value]="user"
                  (onSelectionChange)="onSelectedValueChanged($event)"
                  matSort
                >
                  <span
                    [ngStyle]="{
                      display:
                        user?.UserType?.Icon === null ||
                        user?.UserType?.Icon === undefined
                          ? 'none'
                          : 'inline'
                    }"
                  >
                    <i
                      class="material-icons icon-mat-option rounded {{
                        user?.UserType?.CssClassCategory
                      }} {{ user?.UserType?.CssClass }}" style="padding: 0 10px 0 0;"
                      [title]="user?.UserType?.Value"
                      >{{ user?.UserType?.Icon }}</i
                    >
                  </span>
                  <span
                    [ngStyle]="{
                      display:
                        user?.Avatar === null || user?.Avatar === undefined
                          ? 'none'
                          : 'inline'
                    }"
                  >
                    <img
                      class="img-mat-option img23 rounded"
                      style="padding: 0 2px 0 5px; width: 1.2em"
                      src="{{ user?.Avatar }}"
                    />
                  </span>
                  <p class="display-value">{{ user?.DisplayName }}</p>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </span>
          <button
            mat-icon-button
            class="btn btn-white btn-round btn-just-icon btn-idas-calendar-event-add-attendee"
            type="button"
            [disabled]="
              newEventAttendee === null || newEventAttendee === undefined
            "
            (click)="onClickEventAttendeeAdd()"
            title="Add Attendee"
          >
            <i class="material-icons idas-button-icon">person_add</i>
          </button>
          <div
            *ngFor="
              let eventAttendee of selectedElement?.EventAttendees;
              let i = index
            "
            class="event attendee"
          >
            <i
              [ngStyle]="{
                display:
                  eventAttendee?.Attendee?.UserType?.Icon === null ||
                  eventAttendee?.Attendee?.UserType?.Icon === undefined
                    ? 'none'
                    : 'inline'
              }"
              class="material-icons {{
                eventAttendee?.Attendee?.UserType?.CssClassCategory
              }} {{ eventAttendee?.Attendee?.UserType?.CssClass }}"
              [title]="eventAttendee?.Attendee?.UserType?.Value"
              >{{ eventAttendee?.Attendee?.UserType?.Icon }}</i
            >
            <img
              [ngStyle]="{
                display:
                  eventAttendee?.Attendee?.Avatar === null ||
                  eventAttendee?.Attendee?.Avatar === undefined
                    ? 'none'
                    : 'inline'
              }"
              src="{{ eventAttendee?.Attendee?.Avatar }}"
            />
            <p class="attendee displayName">
              {{ eventAttendee?.Attendee?.DisplayName }}
            </p>
            <span class="attendee">
              <button
                mat-icon-button
                class="btn btn-white btn-round btn-just-icon"
                type="button"
                (click)="onClickEventAttendeeRemove(eventAttendee, i)"
                title="{{ option?.title }}"
              >
                <i class="material-icons">delete</i>
              </button>
              <mat-checkbox
                [value]="eventAttendee?.IsDeclined"
                [disabled]="true"
                ><span>Declined</span></mat-checkbox
              >
              <mat-checkbox
                [value]="eventAttendee?.IsTentative"
                [disabled]="true"
                ><span>Tentative</span></mat-checkbox
              >
              <mat-checkbox
                [value]="eventAttendee?.IsAccepted"
                [disabled]="true"
                ><span>Accepted</span></mat-checkbox
              >
            </span>
          </div>
        </mat-tab>
        <mat-tab label="Event Attachment(s)">
          <br />
          <app-file-upload
            [CalendarEventId]="selectedElement?._id"
            [files]="selectedElement?.Files"
            appFileDragDrop
          ></app-file-upload>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
  <footer class="footer">
    <button
      *ngFor="let option of eventAttendeeResponses; let i = index"
      [ngStyle]="{
        display:
          selectedElement?._id === null || selectedElement?._id === undefined
            ? 'none'
            : 'inline'
      }"
      mat-icon-button
      class="
      btn
      btn-white
      btn-round
      btn-just-icon
      {{ option?.cssClass }}
    "
      type="button"
      (click)="onClickEventAttendeResponse(option)"
      title="{{ option?.title }}"
    >
      <i class="material-icons {{ option?.cssClass }}">{{ option?.icon }}</i>
    </button>
    <button
      mat-icon-button
      class="btn btn-white btn-round btn-just-icon btn-idas-dialog-yes btn-idas-dialog-float-right"
      type="button"
      (click)="onButtonClickSave()"
      [mat-dialog-close]="selectedElement"
      title="Save Changes"
    >
      <i class="material-icons idas-button-icon">save</i>
    </button>
  </footer>
</div>
