<div class="mat-elevation-z4 idas-manage-project-task-toolbar">
  <button
    mat-icon-button
    class="
      btn
      btn-white
      btn-round
      btn-just-icon
      btn-idas-dialog-float-left
      btn-idas-manage-task-edit
    "
    type="button"
    title="Edit"
    (click)="onButtonClicked('Edit')"
  >
    <i class="material-icons idas-button-icon">edit</i>
  </button>
  <button
    mat-icon-button
    class="
      btn
      btn-white
      btn-round
      btn-just-icon
      btn-idas-dialog-float-left
      btn-idas-manage-task-comment
    "
    type="button"
    title="Comment"
    (click)="onButtonClicked('Comment')"
  >
    <i class="material-icons idas-button-icon">comment</i>
  </button>
  <button
    mat-icon-button
    class="
      btn
      btn-white
      btn-round
      btn-just-icon
      btn-idas-dialog-float-left
      btn-idas-manage-task-log-work
    "
    type="button"
    title="Log Work"
    (click)="onButtonClicked('LogWork')"
  >
    <i class="material-icons idas-button-icon">pending_actions</i>
  </button>
  <button
    mat-icon-button
    class="
      btn
      btn-white
      btn-round
      btn-just-icon
      btn-idas-dialog-float-left
      btn-idas-manage-task-assign
    "
    type="button"
    title="Assign"
    (click)="onButtonClicked('Assign')"
  >
    <i class="material-icons idas-button-icon">assignment_ind</i>
  </button>
  <button
    mat-icon-button
    class="
      btn
      btn-white
      btn-round
      btn-just-icon
      btn-idas-dialog-float-left
      btn-idas-manage-task-attach-file
    "
    type="button"
    title="Attach File(s)"
    (click)="onButtonClicked('AttachFiles')"
  >
    <i class="material-icons idas-button-icon">upload_file</i>
  </button>
  <button
    mat-icon-button
    class="
      btn
      btn-white
      btn-round
      btn-just-icon
      btn-idas-dialog-float-left
      btn-idas-manage-project-task-create-sub
    "
    type="button"
    title="Create {{ getDependentElementName() }}"
    (click)="onButtonClicked('CreateSub')"
  >
    <i class="material-icons idas-button-icon">dns</i>
  </button>
  <button
    mat-icon-button
    class="
      btn
      btn-white
      btn-round
      btn-just-icon
      btn-idas-dialog-float-left
      btn-idas-manage-project-task-copy
    "
    type="button"
    title="Clone or Copy {{ capitalizeFirstLetter(entityName) }}"
    (click)="onButtonClicked('CloneCopy')"
  >
    <i class="material-icons idas-button-icon">launch</i>
  </button>
  <button
    mat-icon-button
    class="
      btn
      btn-white
      btn-round
      btn-just-icon
      btn-idas-dialog-float-left
      btn-idas-manage-project-task-review
    "
    type="button"
    title="Review"
    (click)="onButtonClicked('Review')"
  >
    <i class="material-icons idas-button-icon">rate_review</i>
  </button>
</div>
<br />
