.calendar-table {
  background-color: #ffffff;
  border-collapse: collapse;
  font-size: 0.85em;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  table-layout: fixed;
  text-align: left;
  span {
    float: left;
    text-align: left;
    &.is-today,
    &.is-first-day-of-month {
      color: #1e90ff;
      font-size: 1.15em;
      font-weight: bold;
    }
    &.no-data {
      background-color: #ffffff;
      border-style: none;
      width: 2%;
    }
  }
  &.is-today,
  &.is-first-day-of-month {
    color: #1e90ff;
    font-size: 1.15em;
    font-weight: bold;
  }
  &.no-data {
    background-color: #ffffff;
    border-style: none;
    width: 2%;
  }
}

.calendar-table thead,
.calendar-table th {
  background-color: #f5f5f5;
  font-weight: normal;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  width: 14.2%;
  text-align: left;
}

.calendar-table td,
.calendar-table th {
  border: 1px solid #dee2e6;
  font-weight: normal;
  text-align: left;
}

.calendar-table td,
.calendar-table th {
  border-top: 1px solid #dee2e6;
  font-weight: normal;
  padding: 0.75rem;
  padding-right: 10px;
  text-align: left;
  vertical-align: top;
}

.calendar-table.no-data thead,
.calendar-table.no-data th,
.calendar-table.no-data td {
  background-color: #ffffff;
  border-style: none;
  width: 2%;
  text-align: left;
}

.calendar-table.month-view thead:first-child,
.calendar-table.month-view th:first-child,
.calendar-table.month-view td:first-child {
  width: 12.8em;
  min-width: 12.8em;
  max-width: 12.8em;
  text-align: left;
  word-break: break-all;
}

.calendar-table.week-view thead:first-child,
.calendar-table.week-view th:first-child,
.calendar-table.week-view td:first-child,
.calendar-table.work-week-view thead:first-child,
.calendar-table.work-week-view th:first-child,
.calendar-table.work-week-view td:first-child {
  width: 6em;
  min-width: 6em;
  max-width: 6em;
  text-align: left;
  word-break: break-all;
}

.calendar-table.day-view thead:first-child,
.calendar-table.day-view th:first-child,
.calendar-table.day-view td:first-child {
  width: 5.3em;
  min-width: 5.3em;
  max-width: 5.3em;
  text-align: left;
  word-break: break-all;
}

.calendar-table.week-view td,
.calendar-table.work-week-view td {
  &.operating-hour {
    font-size: 0.85em;
    font-weight: normal;
    height: 5vh;
  }
}

.calendar-table.day-view th,
.calendar-table.day-view td {
  font-size: 1.15em;
  font-weight: bold;
  width: 100%;
  &.operating-hour {
    font-size: 0.85em;
    font-weight: normal;
    height: 5vh;
  }
}
.calendar-table.day-view td {
  background-color: #ffffff;
}

.calendar-day {
  color: #000000;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: normal;
  height: 15vh;
  text-align: left;
  span {
    color: #000000;
    float: left;
    font-size: 0.8em;
    text-align: left;
    &.day {
      float: left;
      margin: 0 0 3px 0;
    }
    &.count {
      background-color: #1e90ff;
      border-radius: 8px;
      color: #ffffff;
      float: right;
      font-size: 0.9em;
      font-weight: bold;
      margin: 0 0 3px 0;
      padding: 3px;
    }
    &.show-more {
      border: 1px solid #1e90ff;
      float: right;
      margin: 3px 0 0 0;
      right: 0;
      text-align: center;
      width: 9.56vw;
    }
    &.is-past-date {
      background-color: #f8f8ff;
      color: #b0c4de;
    }
    &.is-today,
    &.is-first-day-of-month,
    &.is-future-date {
      font-weight: bold;
    }
    &.is-today,
    &.is-first-day-of-month {
      color: #1e90ff;
      font-size: 1.15em;
    }
    &.is-future-date {
      color: #b0c4de;
    }
  }
  &.is-past-date {
    background-color: #f8f8ff;
    color: #b0c4de;
  }
  &.is-today,
  &.is-first-day-of-month,
  &.is-future-date {
    font-weight: bold;
  }
  &.is-today,
  &.is-first-day-of-month {
    color: #1e90ff;
    font-size: 1.15em;
  }
  &.is-future-date {
    color: #b0c4de;
  }
  i {
    display: inline-block;
    height: auto;
    font-size: 15px;
    text-align: justify;
    vertical-align: middle;
    &.recurring {
      float: right;
      margin: 0 0.2vw 0 0;
      font-size: 15px;
    }
  }
  &.week-view {
    background-color: #ffffff;
  }
}
.calendar-day:hover {
  background-color: rgb(248, 248, 248);
}
.calendar-day.no-data thead,
.calendar-day.no-data th,
.calendar-day.no-data td {
  background-color: #ffffff;
  border-style: none;
  width: 2%;
}

.calendar-event {
  background-color: #b0c4de;
  border: 1px solid #1e90ff;
  border-right: 5px solid #1e90ff;
  color: #000000;
  display: inline-block;
  font-size: 0.85em;
  font-weight: normal;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  i {
    display: inline-block;
    height: auto;
    font-size: 15px;
    text-align: justify;
    vertical-align: middle;
    &.recurring {
      float: right;
      margin: 0 0.2vw 0 0;
      font-size: 15px;
    }
  }
  &.month-view,
  &.week-view,
  &.work-week-view,
  &.day-view {
    font-size: 0.85em;
  }
  &.month-view {
    width: 9.5vw;
  }
  &.week-view {
    width: 8.8vw;
  }
  &.work-week-view {
    width: 13.2vw;
  }
  &.day-view {
    width: 73.6vw;
  }
}
