$avatar-404: #bfbfbf;
$avatar-accent: #005ac4;
$blue-main: #021829;
$card-bg: rgba(2, 24, 41, 0.5);
$card-border: rgba(255, 255, 255, 0.1);
$card-hover: #021829;
$dark: #021829;
$disabled-action: #192d3a;
$down: #c21c36;
$ghost-btn-border: rgba(255, 255, 255, 0.5);
$ghost-btn-bg: rgba(255, 255, 255, 0.05);
$preview-datum: #546979;
$white: #ffffff;
$good-trend: #7ed321;
$bad-trend: #c21c36;
$neutral-trend: #4a90e2;
$selected-action: #546979;
$total-reporting-green: #7ed321;
$total-reporting-yellow: #ffba00;
$total-reporting-red: #c21c36;
$idas-color-body-links-active-visited: #353434;
$idas-color-body-links-hover: #f44336;
$idas-color-main-links-link: #0000ff;
$idas-color-main-links-active: #0000ff;
$idas-color-main-links-visited: #0000ff;
$idas-color-main-links-link-active-visited: #0000ff;
$idas-color-main-links-hover: #0080ff;
$idas-color-default-text: #000000;
$idas-color-whitesmoke: whitesmoke;
$idas-color-body-background-main: #ffffff;
$idas-color-heading-background-main: #f44336;
$idas-color-heading-background-secondary: #ef5350;
$idas-color-footer-background: #353434;
$idas-color-alert-debug: #000000;
$idas-color-alert-info: #000000;
$idas-color-alert-critical: #f1610d;
$idas-color-alert-error: #f88d4f;
$idas-color-alert-fatal: #f86814;
$idas-color-alert-warning: #ff843c;
$idas-color-alert-success: #4de028;
$idas-color-action-assign: #98fb98;
$idas-color-action-attach-file: #d3d3d3;
$idas-color-action-create: #4de028;
$idas-color-action-view: #1e90ff;
$idas-color-action-change: #ff8c00;
$idas-color-action-edit: #ff8c00;
$idas-color-action-update: #ff8c00;
$idas-color-action-delete: #ff4500;
$idas-color-action-clone: #add8e6;
$idas-color-action-copy: #add8e6;
$idas-color-action-comment: #4169e1;
$idas-color-action-log-work: #2f4f4f;
$idas-color-action-review: #9370db;
$idas-color-action-progress: #228b22;
$idas-color-meetingtype: #191970;
$idas-color-meetingtype-action-review: #ff8c00;
$idas-color-meetingtype-board: #A52A2A;
$idas-color-meetingtype-broadcast: #BC8F8F;
$idas-color-meetingtype-community-of-practice: #FFDEAD;
$idas-color-meetingtype-consultation: #DAA520;
$idas-color-meetingtype-decision-making: #006400;
$idas-color-meetingtype-governance: #A52A2A;
$idas-color-meetingtype-idea-generation: #FFA500;
$idas-color-meetingtype-interview: #32CD32;
$idas-color-meetingtype-introductions: #FF4500;
$idas-color-meetingtype-issue-resolution: #4682B4;
$idas-color-meetingtype-one-on-one: #2F4F4F;
$idas-color-meetingtype-planning: #32CD32;
$idas-color-meetingtype-problem-solving: #FF0000;
$idas-color-meetingtype-progress-check: #FF6347;
$idas-color-meetingtype-sensemaking: #ff8c00;
$idas-color-meetingtype-site-visit: #ADD8E6;
$idas-color-meetingtype-team-cadence: #2E8B57;
$idas-color-meetingtype-training: #66CDAA;
$idas-color-meetingtype-workshop: #00008B;
$idas-color-usertype-admin: #f86814;
$idas-color-usertype-client: #b8860b;
$idas-color-usertype-employee: #1e90ff;
$idas-color-usertype-general: #ffbf00;
$idas-color-usertype-root: #33cc33;
$idas-color-usertype-supplier: #4000ff;
$idas-color-tasktype-advertising: #0080ff;
$idas-color-tasktype-bug: #ff0000;
$idas-color-tasktype-change: #ffbf00;
$idas-color-tasktype-consultation: #b0e0e6;
$idas-color-tasktype-deployment: #00ffbf;
$idas-color-tasktype-design: #bfff00;
$idas-color-tasktype-development: #0040ff;
$idas-color-tasktype-incident: #ff8000;
$idas-color-tasktype-marketing: #4000ff;
$idas-color-tasktype-monitor: #00ff80;
$idas-color-tasktype-planning: #0056b3;
$idas-color-tasktype-problem: red;
$idas-color-tasktype-reporting: #8000ff;
$idas-color-tasktype-research: #4000ff;
$idas-color-tasktype-sales: #daa520;
$idas-color-tasktype-service-request: #20b2aa;
$idas-color-tasktype-support: #00ff00;
$idas-color-tasktype-training: #ff8c00;
$idas-color-priority-blocked: red;
$idas-color-priority-blocker: red;
$idas-color-priority-critical: red;
$idas-color-priority-dependency: #ff4500;
$idas-color-priority-done: #00ff00;
$idas-color-priority-high: red;
$idas-color-priority-highest: red;
$idas-color-priority-low: #3396ff;
$idas-color-priority-lowest: #007bff;
$idas-color-priority-major: red;
$idas-color-priority-medium: #ff8000;
$idas-color-priority-minor: #ffbf00;
$idas-color-priority-normal: #4682b4;
$idas-color-priority-trivial: #00bfff;
$idas-color-status-blocked: red;
$idas-color-status-cancelled: #ff4000;
$idas-color-status-completed: #32cd32;
$idas-color-status-created: #708090;
$idas-color-status-de-scoped: #00ffbf;
$idas-color-status-done: #008000;
$idas-color-status-in-progress: #0080ff;
$idas-color-status-not-started: #99caff;
$idas-color-status-on-hold: #ff8000;
$idas-color-status-re-started: #004a99;
$idas-color-status-started: #80ff00;
