@import "./colors.scss";
@import "./fonts.scss";

/* * {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s cubic-bezier(0.945, 0.020, 0.270, 0.665);
} */

html,
body {
  background-color: $idas-color-body-background-main;
  font-family: $OpenSans_Light;
  font-size: 0.85em;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

::ng-deep .mat-menu-content,
.mat-tab-group-content,
.mat-tab-content {
  padding: 0px !important;
}

.mat-form-field-no-padding .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

p {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: middle;

  &.display-value {
    font-size: 1.1em;
    margin: 0 0 0 5px;
    padding: 0 0 0 0;
  }
  &.display-name-check-box {
    font-size: 0.9em;
    margin: 0 0 0 3px;
    padding: 0 0 0 0;
  }
  &.idas-task-assign-to-me {
    color: $idas-color-main-links-active;
    display: inline;
    font-family: $OpenSans_Bold;
    margin: 0 0 0 5px;
  }

  &.usertype,
  &.projecttype,
  &.tasktype,
  &.status,
  &.priority,
  &.calendareventtype {
    border-radius: 8px;
    color: $idas-color-body-background-main;
    font-family: $OpenSans_Light;
    font-size: 0.85em;
    text-align: center;
    vertical-align: middle;
  }

  &.usertype {
    &.admin {
      background-color: $idas-color-usertype-admin;
    }
    &.client {
      background-color: $idas-color-usertype-client;
    }
    &.employee {
      background-color: $idas-color-usertype-employee;
    }
    &.general {
      background-color: $idas-color-usertype-general;
    }
    &.root {
      background-color: $idas-color-usertype-root;
    }
    &.supplier {
      background-color: $idas-color-usertype-supplier;
    }
  }

  &.tasktype {
    &.advertising {
      background-color: $idas-color-tasktype-advertising;
    }
    &.bug {
      background-color: $idas-color-tasktype-bug;
    }
    &.change {
      background-color: $idas-color-tasktype-change;
    }
    &.consultation {
      background-color: $idas-color-tasktype-consultation;
    }
    &.deployment {
      background-color: $idas-color-tasktype-deployment;
    }
    &.design {
      background-color: $idas-color-tasktype-design;
    }
    &.development {
      background-color: $idas-color-tasktype-development;
    }
    &.incident {
      background-color: $idas-color-tasktype-incident;
    }
    &.marketing {
      background-color: $idas-color-tasktype-marketing;
    }
    &.monitor {
      background-color: $idas-color-tasktype-monitor;
    }
    &.planning {
      background-color: $idas-color-tasktype-planning;
    }
    &.problem {
      background-color: $idas-color-tasktype-problem;
    }
    &.reporting {
      background-color: $idas-color-tasktype-reporting;
    }
    &.research {
      background-color: $idas-color-tasktype-research;
    }
    &.sales {
      background-color: $idas-color-tasktype-sales;
    }
    &.service-request {
      background-color: $idas-color-tasktype-service-request;
    }
    &.support {
      background-color: $idas-color-tasktype-support;
    }
    &.training {
      background-color: $idas-color-tasktype-training;
    }
  }

  &.priority {
    &.blocked {
      background-color: $idas-color-priority-blocked;
    }
    &.blocker {
      background-color: $idas-color-priority-blocker;
    }
    &.critical {
      background-color: $idas-color-priority-critical;
    }
    &.dependency {
      background-color: $idas-color-priority-dependency;
    }
    &.done {
      background-color: $idas-color-priority-done;
    }
    &.high {
      background-color: $idas-color-priority-high;
    }
    &.highest {
      background-color: $idas-color-priority-highest;
    }
    &.low {
      background-color: $idas-color-priority-low;
    }
    &.lowest {
      background-color: $idas-color-priority-lowest;
    }
    &.major {
      background-color: $idas-color-priority-major;
    }
    &.medium {
      background-color: $idas-color-priority-medium;
    }
    &.minor {
      background-color: $idas-color-priority-minor;
    }
    &.normal {
      background-color: $idas-color-priority-normal;
    }
    &.trivial {
      background-color: $idas-color-priority-trivial;
    }
  }

  &.status {
    &.blocked {
      background-color: $idas-color-status-blocked;
    }
    &.cancelled {
      background-color: $idas-color-status-cancelled;
    }
    &.completed {
      background-color: $idas-color-status-completed;
    }
    &.created {
      background-color: $idas-color-status-created;
    }
    &.de-scoped {
      background-color: $idas-color-status-de-scoped;
    }
    &.done {
      background-color: $idas-color-status-done;
    }
    &.in-progress {
      background-color: $idas-color-status-in-progress;
    }
    &.not-started {
      background-color: $idas-color-status-not-started;
    }
    &.on-hold {
      background-color: $idas-color-status-on-hold;
    }
    &.re-started {
      background-color: $idas-color-status-re-started;
    }
    &.started {
      background-color: $idas-color-status-started;
    }

    &.calendareventtype {
      background-color: $idas-color-calendareventtype;
      &.action-review {
        background-color: $idas-color-calendareventtype-action-review;
      }
      &.board {
        background-color: $idas-color-calendareventtype-board;
      }
      &.broadcast {
        background-color: $idas-color-calendareventtype-broadcast;
      }
      &.community-of-practice {
        background-color: $idas-color-calendareventtype-community-of-practice;
      }
      &.consultation {
        background-color: $idas-color-calendareventtype-consultation;
      }
      &.decision-making {
        background-color: $idas-color-calendareventtype-decision-making;
      }
      &.governance {
        background-color: $idas-color-calendareventtype-governance;
      }
      &.idea-generation {
        background-color: $idas-color-calendareventtype-idea-generation;
      }
      &.interview {
        background-color: $idas-color-calendareventtype-interview;
      }
      &.introductions {
        background-color: $idas-color-calendareventtype-introductions;
      }
      &.issue-resolution {
        background-color: $idas-color-calendareventtype-issue-resolution;
      }
      &.one-on-one {
        background-color: $idas-color-calendareventtype-one-on-one;
      }
      &.planning {
        background-color: $idas-color-calendareventtype-planning;
      }
      &.problem-solving {
        background-color: $idas-color-calendareventtype-problem-solving;
      }
      &.progress-check {
        background-color: $idas-color-calendareventtype-progress-check;
      }
      &.sensemaking {
        background-color: $idas-color-calendareventtype-sensemaking;
      }
      &.site-visit {
        background-color: $idas-color-calendareventtype-site-visit;
      }
      &.team-cadence {
        background-color: $idas-color-calendareventtype-team-cadence;
      }
      &.training {
        background-color: $idas-color-calendareventtype-training;
      }
      &.workshop {
        background-color: $idas-color-calendareventtype-workshop;
      }
    }
  }
}

i {
  display: inline-block;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 30px;
  text-align: left;
  vertical-align: middle;

  &.rounded {
    border-radius: 12px;
  }
  &.idas-button-icon {
    padding: 0 0 0 10px;
  }
  &.icon-mat-option {
    margin: 0 0 0 5px;
    padding: 0 0 0 0;
  }
  &.btn-idas-task-assign-to-me {
    color: $idas-color-main-links-active;
  }

  &.usertype {
    display: inline-block;
    padding: 0.1em;
    &.admin {
      color: $idas-color-usertype-admin;
    }
    &.client {
      color: $idas-color-usertype-client;
    }
    &.employee {
      color: $idas-color-usertype-employee;
    }
    &.general {
      color: $idas-color-usertype-general;
    }
    &.root {
      color: $idas-color-usertype-root;
    }
    &.supplier {
      color: $idas-color-usertype-supplier;
    }
  }

  &.tasktype {
    &.advertising {
      color: $idas-color-tasktype-advertising;
    }
    &.bug {
      color: $idas-color-tasktype-bug;
    }
    &.change {
      color: $idas-color-tasktype-change;
    }
    &.consultation {
      color: $idas-color-tasktype-consultation;
    }
    &.deployment {
      color: $idas-color-tasktype-deployment;
    }
    &.design {
      color: $idas-color-tasktype-design;
    }
    &.development {
      color: $idas-color-tasktype-development;
    }
    &.incident {
      color: $idas-color-tasktype-incident;
    }
    &.marketing {
      color: $idas-color-tasktype-marketing;
    }
    &.monitor {
      color: $idas-color-tasktype-monitor;
    }
    &.planning {
      color: $idas-color-tasktype-planning;
    }
    &.problem {
      color: $idas-color-tasktype-problem;
    }
    &.reporting {
      color: $idas-color-tasktype-reporting;
    }
    &.research {
      color: $idas-color-tasktype-research;
    }
    &.sales {
      color: $idas-color-tasktype-sales;
    }
    &.service-request {
      color: $idas-color-tasktype-service-request;
    }
    &.support {
      color: $idas-color-tasktype-support;
    }
    &.training {
      color: $idas-color-tasktype-training;
    }
    &.reposition {
      display: inline-block;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
  }

  &.priority {
    &.blocked {
      color: $idas-color-priority-blocked;
    }
    &.blocker {
      color: $idas-color-priority-blocker;
    }
    &.critical {
      color: $idas-color-priority-critical;
    }
    &.dependency {
      color: $idas-color-priority-dependency;
    }
    &.done {
      color: $idas-color-priority-done;
    }
    &.high {
      color: $idas-color-priority-high;
    }
    &.highest {
      color: $idas-color-priority-highest;
    }
    &.low {
      color: $idas-color-priority-low;
    }
    &.lowest {
      color: $idas-color-priority-lowest;
    }
    &.major {
      color: $idas-color-priority-major;
    }
    &.medium {
      color: $idas-color-priority-medium;
    }
    &.minor {
      color: $idas-color-priority-minor;
    }
    &.normal {
      color: $idas-color-priority-normal;
    }
    &.trivial {
      color: $idas-color-priority-trivial;
    }
    &.reposition {
      margin: 0 0 0 0;
      // padding: 5px 0 0 5px;
    }
  }

  &.status {
    &.blocked {
      color: $idas-color-status-blocked;
    }
    &.cancelled {
      color: $idas-color-status-cancelled;
    }
    &.completed {
      color: $idas-color-status-completed;
    }
    &.created {
      color: $idas-color-status-created;
    }
    &.de-scoped {
      color: $idas-color-status-de-scoped;
    }
    &.done {
      color: $idas-color-status-done;
    }
    &.in-progress {
      color: $idas-color-status-in-progress;
    }
    &.not-started {
      color: $idas-color-status-not-started;
    }
    &.on-hold {
      color: $idas-color-status-on-hold;
    }
    &.re-started {
      color: $idas-color-status-re-started;
    }
    &.started {
      color: $idas-color-status-started;
    }
  }
  &.calendareventtype {
    color: $idas-color-calendareventtype;
    &.action-review {
      color: $idas-color-calendareventtype-action-review;
    }
    &.board {
      color: $idas-color-calendareventtype-board;
    }
    &.broadcast {
      color: $idas-color-calendareventtype-broadcast;
    }
    &.community-of-practice {
      color: $idas-color-calendareventtype-community-of-practice;
    }
    &.consultation {
      color: $idas-color-calendareventtype-consultation;
    }
    &.decision-making {
      color: $idas-color-calendareventtype-decision-making;
    }
    &.governance {
      color: $idas-color-calendareventtype-governance;
    }
    &.idea-generation {
      color: $idas-color-calendareventtype-idea-generation;
    }
    &.interview {
      color: $idas-color-calendareventtype-interview;
    }
    &.introductions {
      color: $idas-color-calendareventtype-introductions;
    }
    &.issue-resolution {
      color: $idas-color-calendareventtype-issue-resolution;
    }
    &.one-on-one {
      color: $idas-color-calendareventtype-one-on-one;
    }
    &.planning {
      color: $idas-color-calendareventtype-planning;
    }
    &.problem-solving {
      color: $idas-color-calendareventtype-problem-solving;
    }
    &.progress-check {
      color: $idas-color-calendareventtype-progress-check;
    }
    &.sensemaking {
      color: $idas-color-calendareventtype-sensemaking;
    }
    &.site-visit {
      color: $idas-color-calendareventtype-site-visit;
    }
    &.team-cadence {
      color: $idas-color-calendareventtype-team-cadence;
    }
    &.training {
      color: $idas-color-calendareventtype-training;
    }
    &.workshop {
      color: $idas-color-calendareventtype-workshop;
    }
  }
}

img {
  background-size: cover;
  display: inline-block;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: middle;

  &.rounded {
    border-radius: 12px;
  }
  &.img10 {
    width: 10px;
  }
  &.img15 {
    width: 15px;
  }
  &.img20 {
    width: 20px;
  }
  &.img22 {
    width: 22px;
  }
  &.img23 {
    width: 23px;
  }
  &.img25 {
    width: 25px;
  }
  &.img30 {
    width: 30px;
  }
  &.img35 {
    width: 35px;
  }
  &.img40 {
    width: 40px;
  }
  &.img45 {
    width: 45px;
  }
  &.img-in-grid {
    margin: 0 0 17px 0;
    padding: 0 0 0 0;
  }
  &.img-mat-option {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  &.img-manage-task-toolbar {
    margin: 0 0 0 5px;
    padding: 0 0 0 0;
    width: 30px;
  }
}

.idas-main-content {
  margin-top: 0px;
  padding: 0;
}

.idas-main-card-header {
  background: transparent;
  background: $idas-color-heading-background-secondary;
  border-radius: 6px;
  color: $idas-color-body-background-main;
  height: 12vh;
  position: relative;

  i {
    display: inline-block;
    height: auto;
    width: 35px;
    margin: 0 0 0 0;
    padding: 0 0 20px 10px;
    text-align: left;
    vertical-align: middle;
  }

  h4 {
    color: $idas-color-body-background-main;
    display: inline-block;
    font-family: $OpenSans_Bold;
    font-size: 1.55em;
    padding: 0 0 15px 15px;
    text-align: left;
    vertical-align: middle;
  }

  p {
    color: $idas-color-body-background-main;
    display: inline-block;
    text-align: left;
    vertical-align: middle;

    &.category {
      font-family: $OpenSans_Bold;
      font-size: 1.05em;
      padding: 55px 0 10px 50px;
    }
  }

  span {
    float: right;

    i {
      display: inline-block;
      height: auto;
      width: 35px;
      margin: 0 0 0 0;
      padding: 0 0 25px 10px;
      text-align: left;
      vertical-align: middle;
    }

    button {
      i {
        display: inline-block;
        height: auto;
        width: 35px;
        margin: 0 0 0 0;
        padding: 0 0 25px 10px;
        text-align: left;
        vertical-align: middle;
      }
    }
  }

  button {
    i {
      display: inline-block;
      height: auto;
      width: 35px;
      margin: 0 0 0 0;
      padding: 0 0 25px 10px;
      text-align: left;
      vertical-align: middle;
    }
  }
}

span,
input,
mat-form-field,
mat-autocomplete,
mat-checkbox,
mat-option,
mat-select,
select {
  font-family: $OpenSans_Light;
  font-size: 1em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1,
h2,
h3,
h4,
mat-header-cell {
  font-family: $OpenSans_Bold;
}

.idas-page-heading {
  .idas-page-heading-icon {
    display: inline-block;
    height: auto;
    padding: 12px 2px 10px 0;
    width: 35px;
    text-align: left;
    vertical-align: middle;
  }

  h4 {
    display: inline-block;
    font-family: $OpenSans_Bold;
    font-size: 1.35em;
    padding: 8px 2px 1.5px 10px;
    vertical-align: middle;
  }

  span {
    float: inherit;
    top: 0;
  }
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0px !important;
}

.data-table-view-simple {
  font-size: 1em;
  height: 100%;
  overflow-x: auto;
  width: 100%;

  table,
  .mat-table {
    // border: 1px gray;
    overflow: auto;
    max-height: 500px;

    mat-footer-row,
    mat-header-row,
    mat-row {
      display: inline-flex;
      min-width: 100%;
      width: 100%;
    }

    mwlResizable {
      box-sizing: border-box;
    }

    mat-cell:first-child,
    mat-footer-cell:first-child,
    mat-header-cell:first-child {
      padding-left: 0px !important;
    }

    mat-cell,
    mat-footer-cell,
    mat-header-cell {
      width: 200px;
      word-break: break-all;
      flex: none;
      display: block;
    }

    mat-header-cell {
      background-color: gray;
      color: whitesmoke;
      font-family: $OpenSans_Bold;
      font-size: 0.9em;
      padding: 18px 10px 10px 10px;
      text-align: left;
      vertical-align: middle;
    }

    .mat-sort-header-button {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    mat-cell {
      display: inline-block;
      font-family: $OpenSans_Light;
      font-size: 0.9em;
      overflow: hidden;
      vertical-align: middle;
      white-space: nowrap;
      text-align: left;
      text-overflow: ellipsis;
    }

    .data-view-action-buttons-header {
      background-color: white;
    }

    .data-view-action-buttons-cell {
      border-style: none;
      padding: 0 5px 0 60px;
      right: 0;
      i {
        margin: 0 0 0 10px;
        padding: 0 0 0 0;
      }
    }
  }
}

.btn-idas-resize {
  height: auto;
  width: 5px;
  i,
  img {
    height: auto;
    width: 5px;
  }
}

.idas-dialog-container {
  mat-dialog-container {
    bottom: 0%;
    left: 0%;
    padding: 0;
    right: 0%;
    top: 0%;
    width: 100%;
    z-index: 9999 !important;
  }
}

.mat-select-panel-wrap {
  margin: 28px 0;
  pointer-events: auto;
}

.btn-idas {
  background: $idas-color-body-background-main;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: none;
  display: inline-block;
  height: auto;
  outline: none !important;
  position: relative;
  text-align: center;
  width: 45px;

  i,
  img {
    height: auto;
    width: auto;
  }

  &.usertype {
    &.admin {
      background-color: $idas-color-usertype-admin;
      color: #ffffff;
    }
    &.client {
      background-color: $idas-color-usertype-client;
      color: #ffffff;
    }
    &.employee {
      background-color: $idas-color-usertype-employee;
      color: #ffffff;
    }
    &.general {
      background-color: $idas-color-usertype-general;
      color: #ffffff;
    }
    &.root {
      background-color: $idas-color-usertype-root;
      color: #ffffff;
    }
    &.supplier {
      background-color: $idas-color-usertype-supplier;
      color: #ffffff;
    }
  }

  &.tasktype {
    &.advertising {
      background-color: $idas-color-tasktype-advertising;
      color: #ffffff;
    }
    &.bug {
      background-color: $idas-color-tasktype-bug;
      color: #ffffff;
    }
    &.change {
      background-color: $idas-color-tasktype-change;
      color: #ffffff;
    }
    &.consultation {
      background-color: $idas-color-tasktype-consultation;
      color: #ffffff;
    }
    &.deployment {
      background-color: $idas-color-tasktype-deployment;
      color: #ffffff;
    }
    &.design {
      background-color: $idas-color-tasktype-design;
      color: #ffffff;
    }
    &.development {
      background-color: $idas-color-tasktype-development;
      color: #ffffff;
    }
    &.incident {
      background-color: $idas-color-tasktype-incident;
      color: #ffffff;
    }
    &.marketing {
      background-color: $idas-color-tasktype-marketing;
      color: #ffffff;
    }
    &.monitor {
      background-color: $idas-color-tasktype-monitor;
      color: #ffffff;
    }
    &.planning {
      background-color: $idas-color-tasktype-planning;
      color: #ffffff;
    }
    &.problem {
      background-color: $idas-color-tasktype-problem;
      color: #ffffff;
    }
    &.reporting {
      background-color: $idas-color-tasktype-reporting;
      color: #ffffff;
    }
    &.research {
      background-color: $idas-color-tasktype-research;
      color: #ffffff;
    }
    &.sales {
      background-color: $idas-color-tasktype-sales;
      color: #ffffff;
    }
    &.service-request {
      background-color: $idas-color-tasktype-service-request;
      color: #ffffff;
    }
    &.support {
      background-color: $idas-color-tasktype-support;
      color: #ffffff;
    }
    &.training {
      background-color: $idas-color-tasktype-training;
      color: #ffffff;
    }
  }

  &.priority {
    &.blocked {
      background-color: $idas-color-priority-blocked;
      color: #ffffff;
    }
    &.blocker {
      background-color: $idas-color-priority-blocker;
      color: #ffffff;
    }
    &.critical {
      background-color: $idas-color-priority-critical;
      color: #ffffff;
    }
    &.dependency {
      background-color: $idas-color-priority-dependency;
      color: #ffffff;
    }
    &.done {
      background-color: $idas-color-priority-done;
      color: #ffffff;
    }
    &.high {
      background-color: $idas-color-priority-high;
      color: #ffffff;
    }
    &.highest {
      background-color: $idas-color-priority-highest;
      color: #ffffff;
    }
    &.low {
      background-color: $idas-color-priority-low;
      color: #ffffff;
    }
    &.lowest {
      background-color: $idas-color-priority-lowest;
      color: #ffffff;
    }
    &.major {
      background-color: $idas-color-priority-major;
      color: #ffffff;
    }
    &.medium {
      background-color: $idas-color-priority-medium;
      color: #ffffff;
    }
    &.minor {
      background-color: $idas-color-priority-minor;
      color: #ffffff;
    }
    &.normal {
      background-color: $idas-color-priority-normal;
      color: #ffffff;
    }
    &.trivial {
      background-color: $idas-color-priority-trivial;
      color: #ffffff;
    }
  }

  &.status {
    &.blocked {
      background-color: $idas-color-status-blocked;
      color: #ffffff;
    }
    &.cancelled {
      background-color: $idas-color-status-cancelled;
      color: #ffffff;
    }
    &.completed {
      background-color: $idas-color-status-completed;
      color: #ffffff;
    }
    &.created {
      background-color: $idas-color-status-created;
      color: #ffffff;
    }
    &.de-scoped {
      background-color: $idas-color-status-de-scoped;
      color: #ffffff;
    }
    &.done {
      background-color: $idas-color-status-done;
      color: #ffffff;
    }
    &.in-progress {
      background-color: $idas-color-status-in-progress;
      color: #ffffff;
    }
    &.not-started {
      background-color: $idas-color-status-not-started;
      color: #ffffff;
    }
    &.on-hold {
      background-color: $idas-color-status-on-hold;
      color: #ffffff;
    }
    &.re-started {
      background-color: $idas-color-status-re-started;
      color: #ffffff;
    }
    &.started {
      background-color: $idas-color-status-started;
      color: #ffffff;
    }
  }
  &.resize {
    &.btn-8-px {
      width: 8px;
    }
    &.btn-10-px {
      width: 10px;
    }
    &.btn-15-px {
      width: 15px;
    }
    &.btn-16-px {
      width: 16px;
    }
    &.btn-17-px {
      width: 17px;
    }
    &.btn-18-px {
      width: 18px;
    }
    &.btn-19-px {
      width: 19px;
    }
    &.btn-20-px {
      width: 20px;
    }
    &.btn-21-px {
      width: 21px;
    }
    &.btn-22-px {
      width: 22px;
    }
    &.btn-23-px {
      width: 23px;
    }
    &.btn-24-px {
      width: 24px;
    }
    &.btn-25-px {
      width: 25px;
    }
    &.btn-26-px {
      width: 26px;
    }
    &.btn-27-px {
      width: 27px;
    }
    &.btn-28-px {
      width: 28px;
    }
    &.btn-29-px {
      width: 29px;
    }
    &.btn-30-px {
      width: 30px;
    }
    &.btn-31-px {
      width: 31px;
    }
    &.btn-32-px {
      width: 32px;
    }
    &.btn-33-px {
      width: 33px;
    }
    &.btn-34-px {
      width: 34px;
    }
    &.btn-35-px {
      width: 35px;
    }
    &.btn-36-px {
      width: 36px;
    }
    &.btn-37-px {
      width: 37px;
    }
    &.btn-38-px {
      width: 38px;
    }
    &.btn-39-px {
      width: 39px;
    }
    &.btn-40-px {
      width: 40px;
    }
    &.btn-41-px {
      width: 41px;
    }
    &.btn-42-px {
      width: 42px;
    }
    &.btn-43-px {
      width: 43px;
    }
    &.btn-44-px {
      width: 44px;
    }
    &.btn-45-px {
      width: 45px;
    }
    &.btn-46-px {
      width: 46px;
    }
    &.btn-47-px {
      width: 47px;
    }
    &.btn-48-px {
      width: 48px;
    }
    &.btn-49-px {
      width: 49px;
    }
    &.btn-50-px {
      width: 50px;
    }
    &.btn-51-px {
      width: 51px;
    }
    &.btn-52-px {
      width: 52px;
    }
    &.btn-53-px {
      width: 53px;
    }
    &.btn-54-px {
      width: 54px;
    }
    &.btn-55-px {
      width: 55px;
    }
    &.btn-56-px {
      width: 56px;
    }
    &.btn-57-px {
      width: 57px;
    }
    &.btn-58-px {
      width: 58px;
    }
    &.btn-59-px {
      width: 59px;
    }
    &.btn-60-px {
      width: 60px;
    }
  }
}

.btn-idas-resize-30-px {
  height: auto;
  width: 30px;
}

.btn-idas-resize-35-px {
  height: auto;
  width: 35px;
}

.btn-idas-inline-block {
  display: inline-block;
}

.btn-idas-float-right {
  float: right;
}

.btn-idas-float-left {
  float: left;
}

.btn-idas-no {
  background-color: $idas-color-body-background-main;
  border: 1px solid $idas-color-body-background-main;
  color: $bad-trend;
}

.btn-idas-no:hover {
  background-color: $bad-trend;
  border: 1px solid $idas-color-body-background-main;
  color: $idas-color-body-background-main;
}

.btn-idas-yes {
  background-color: $idas-color-body-background-main;
  border: 1px solid $idas-color-body-background-main;
  color: $good-trend;
}

.btn-idas-yes:hover {
  background-color: $good-trend;
  border: 1px solid $idas-color-body-background-main;
  color: $idas-color-body-background-main;
}

.btn-idas-with-border {
  border: 1px solid $idas-color-heading-background-secondary;
}

.btn-idas-task-assign-to-me {
  color: $idas-color-main-links-active;
}

.btn-idas-task-assign-to-me:hover {
  background-color: $idas-color-main-links-active;
  color: $white;
}

span,
mat-form-field,
input,
mat-input,
mat-select,
mat-option,
mat-autocomplete,
select {
  font-size: 1em;
}

span {
  mat-form-field {
    mat-autocomplete {
      mat-select {
        mat-option {
          font-size: 0.75em;
          padding: 0 0 0 0 !important;
        }
      }

      mat-option {
        font-size: 0.75em;
        padding: 0 0 0 0 !important;
      }
    }
  }
}

mat-option,
mat-select,
select {
  padding: 0 0 0 0 !important;
}

:host mat-option,
mat-select,
select {
  padding: 0 0 0 0;
}

.mat-checkbox {
  font-size: 0.95em;
}

.mat-form-field {
  background-color: linear-gradient(#a9a9a9, #d9d9d9);
  padding: 1px;
  width: 100%;

  .input {
    background-color: linear-gradient(#a9a9a9, #d9d9d9);
    font-size: 1em;
    padding: 1px;
    width: 100%;
  }

  .mat-autocomplete {
    .mat-option {
      .span {
        color: red;
        font-size: 1em;
      }
    }
  }
}

.mat-form-field-display-inline-block {
  display: inline-block;
}

.mat-form-field-resize-95 {
  width: 95%;
}

.mat-form-field-resize-90 {
  width: 90%;
}

.mat-form-field-resize-85 {
  width: 85%;
}

.mat-form-field-resize-80 {
  width: 80%;
}

.mat-form-field-resize-75 {
  width: 75%;
}

.mat-form-field-resize-70 {
  width: 70%;
}

.mat-form-field-resize-65 {
  width: 65%;
}

.mat-form-field-resize-60 {
  width: 60%;
}

.mat-form-field-resize-55 {
  width: 55%;
}

.mat-form-field-resize-50 {
  width: 50%;
}

.mat-form-field-resize-45 {
  width: 45%;
}

.mat-form-field-resize-40 {
  width: 40%;
}

.mat-form-field-resize-35 {
  width: 35%;
}

.mat-form-field-resize-30 {
  width: 30%;
}

.mat-form-field-resize-25 {
  width: 25%;
}

.mat-form-field-resize-20 {
  width: 20%;
}
